#{extends 'templates/list1.html' /}
#{set group: group /}
#{set pageTitle:'Lookup Maintenance ' +'- '+ group /}
#{set canGoBack: true /}
<script type="text/javascript">
	
function doEdit(data) {
	if ((data[4] == "New") || (data[4] == "Updated")) {
		view(data[0]);
		return false;
	} else {
		return true;
	}
}

</script>
<table id="grid" class="display">
	<thead>
		<tr>
			<th>Id</th> 
			<th width="150px">Code</th> 
			<th>Description</th>
			<th width="80px">Sequence</th>
			<th width="100px">Status</th>
			<th width="100px">Active</th>
			<th width="100px"><nobr>System Field<nobr/></th>			
		</tr>
	</thead>

	<tbody>
		#{list items:lookups, as:'lookup'}
		<tr mode="#{if lookup.systemField}view#{/if}#{else}edit#{/else}">
			<td>
				${lookup.lookupId.replace('/', '|')}
			</td>
			<td>
				${lookup.lookupCode}
			</td>
			<td>
				${lookup.lookupDescription}
			</td>
			<td>
				${lookup.lookupSequence}
			</td>
			<td>
				${lookup?.recordStatus?.decodeStatus()}
			</td>
			<td>
				${lookup.isActive ? 'Yes' : 'No' }
			</td>
			<td>
				${lookup.systemField ? 'Yes' : 'No' }
			</td>
		</tr>
		#{/list}
	</tbody>
</table>
	
	
	


