#{extends 'templates/detail1.html' /}
#{if !taskId}
	#{set pageTitle: 'Product Setup' /}
#{/if}
#{else}
	#{set pageTitle: 'Product Setup Approval' /}
#{/else}

#{set id:prd?.productCode /}

#{set readOnly:(((mode!='edit')&&(mode!='entry'))||(confirming)) /}

#{script 'lookuppaging.js' /}
#{script 'lookups.js' /}

<style type="text/css">
  .errmsg { color:red; }
  #errMsg { color:red; }
  #fieldSet-1 { height:100px; width:300px; margin-top:0px }
  #fieldSet-2 { height:100px; width:577px; margin-top:0px }
  #fieldSet-3 { margin-top:5px }
/*#lock {margin-left:35px } 
  #addDate {margin-left:20px } */
  #offerPct { margin-left: -50}
  #bidPct { margin-left: -50}
</style>

<!-- MAIN SCREEN -->
<form id="registryProductForm" class="form" method="POST" name="product">
	#{hidden id:'status', name:'status', value:status /}
<!-- 	#{hidden id:'thirdPartyByCustodianBank', name:'prd.thirdPartyByCustodianBank', value:prd?.thirdPartyByCustodianBank /} -->
    
    #{hidden id:'subCot', name:'prd.subCot', value:prd?.subCot /}
    #{hidden id:'subNavUsed', name:'prd.subNavUsed', value:prd?.subNavUsed /}
    #{hidden id:'subMinFee', name:'prd.subMinFee', value:prd?.subMinFee /}
<!--     #{hidden id:'lookupBySubTierBy', name:'prd.lookupBySubTierBy', value:prd?.lookupBySubTierBy /} -->
<!--     #{hidden id:'lookupBySubTierType', name:'prd.lookupBySubTierType', value:prd?.lookupBySubTierType /} -->
    
    #{hidden id:'redCot', name:'prd.redCot', value:prd?.redCot /}
    #{hidden id:'redNavUsed', name:'prd.redNavUsed', value:prd?.redNavUsed /}
    #{hidden id:'redMinFee', name:'prd.redMinFee', value:prd?.redMinFee /}
<!--     #{hidden id:'lookupByRedTierBy', name:'prd.lookupByRedTierBy', value:prd?.lookupByRedTierBy /} -->
<!--     #{hidden id:'lookupByRedTierType', name:'prd.lookupByRedTierType', value:prd?.lookupByRedTierType /} -->

    #{hidden id:'swiCot', name:'prd.swiCot', value:prd?.swiCot /}
    #{hidden id:'swiNavUsed', name:'prd.swiNavUsed', value:prd?.swiNavUsed /}
    #{hidden id:'swiMinFee', name:'prd.swiMinFee', value:prd?.swiMinFee /}
<!--     #{hidden id:'lookupBySwiTierBy', name:'prd.lookupBySwiTierBy', value:prd?.lookupBySwiTierBy /} -->
<!--     #{hidden id:'lookupBySwiTierType', name:'prd.lookupBySwiTierType', value:prd?.lookupBySwiTierType /} -->

    #{hidden id:'divInvestorOption', name:'prd.divInvestorOpt', value:prd?.divInvestorOpt /}
    
    #{hidden id:'checkBidOffer', name:'prd.checkBidOffer', value:prd?.checkBidOffer /}
    #{hidden id:'feeCap', name:'prd.feeCap', value:prd?.feeCap /}
 	#{hidden id:'fixNavHidden', name:'prd.fixnav', value:prd?.fixnav /}
 	#{hidden id:'divByCashHidden', name:'prd.divByCash', value:prd?.divByCash /}
 	#{hidden id:'fdivByRedeemHidden', name:'prd.divByRedeem', value:prd?.divByRedeem /}
 	#{hidden id:'divByReinvestHidden', name:'prd.divByReinvest', value:prd?.divByReinvest /}
 	#{hidden id:'divLockHidden', name:'prd.divLock', value:prd?.divLock /}
 	#{hidden id:'divCumPeriodHidden', name:'prd.divCumPeriod', value:prd?.divCumPeriod /}
 	#{hidden id:'divNavUsedHidden', name:'prd.divNavUsed', value:prd?.divNavUsed /}
 	#{hidden id:'divPostPeriodHidden', name:'prd.divPostPeriod', value:prd?.divPostPeriod /}
 	#{hidden id:'divPayPeriodHidden', name:'prd.divPayPeriod', value:prd?.divPayPeriod /}

	<p>
		#{textBox id:'productCode', name:'prd.productCode', label:'Fund Code', value:prd?.productCode, class:'capitalize',  width:'120px', readOnly:((mode=='entry') ? confirming : true ), required:true , maxLength:50 /}
		<span class="error">#{error 'Fund Code is' /}</span>
	</p>

	<p>
		#{textBox id:'name', name:'prd.name', label:'Fund Name', value:prd?.name, class:'capitalize',  width:'490px', readOnly:readOnly , required:true, maxLength:100 /}
		<span class="error">#{error 'Fund Name is' /}</span>
	</p>

	<p>	
		#{textBox id:'customerNo', name:'prd.cfMaster.customerNo', label:'Customer Code', value:prd?.cfMaster?.customerNo, width:'120px', readOnly:readOnly, class:'capitalize', required:true, maxLength:50 /}
		#{hidden  id:'customerNoKey', name:'prd.cfMaster.customerKey', value:prd?.cfMaster?.customerKey /}
		#{button  id:'customerNoHelp', value:'?', class:'small', readOnly:readOnly /}
		#{textBox id:'customerNoDesc', name:'prd.cfMaster.customerName', value:prd?.cfMaster?.customerName, readOnly:true, width:'340px' /}
		<span class="error">#{error 'Customer Code is' /}</span> 
	</p>

	<p>			
		#{textBox id:'fundManager', name:'prd.thirdPartyByFundManager.thirdPartyCode', label:'Fund Manager', value:prd?.thirdPartyByFundManager?.thirdPartyCode, width:'120px', readOnly:readOnly, class:'capitalize', required:true, maxLength:50 /}
		#{hidden  id:'fundManagerKey', name:'prd.thirdPartyByFundManager.thirdPartyKey', value:prd?.thirdPartyByFundManager?.thirdPartyKey /}
		#{button  id:'fundManagerHelp', value:'?', class:'small', readOnly:readOnly /}
		#{textBox id:'fundManagerDesc', name:'prd.thirdPartyByFundManager.thirdPartyName', value:prd?.thirdPartyByFundManager?.thirdPartyName, readOnly:true, width:'340px' /}
		<span class="error">#{error 'Fund Manager is' /}</span> 
	</p>

<!--     <p>  -->
<!--         #{textBox id:'custodianBank', name:'prd.thirdPartyByCustodianBank.thirdPartyCode', label:'Cust. Bank', value:prd?.thirdPartyByCustodianBank?.thirdPartyCode, width:'120px', readOnly:readOnly,class:'capitalize', required:true /} -->
<!--         #{hidden  id:'custodianBankKey', name:'prd.thirdPartyByCustodianBank.thirdPartyKey', value:prd?.thirdPartyByCustodianBank?.thirdPartyKey /} -->
<!--         #{button  id:'custodianBankHelp',  value:'?', class:'small', readOnly:readOnly /} -->
<!--         #{textBox id:'custodianBankDesc', name:'prd.thirdPartyByCustodianBank.thirdPartyName', value:prd?.thirdPartyByCustodianBank?.thirdPartyName, readOnly:true, width:'340px' /} -->
<!--         <span class="error">#{error 'Cust. Bank is' /}</span>  -->
<!--     </p> -->

	<p>	
		#{textBox id:'type', name:'prd.lookupByType.lookupCode', label:'Fund Type', value:prd?.lookupByType?.lookupCode, width:'120px', readOnly:readOnly, class:'capitalize', required:true, maxLength:50 /}
		#{hidden  id:'typeKey', name:'prd.lookupByType.lookupId', value:prd?.lookupByType?.lookupId /}
		#{button  id:'typeHelp', value:'?', class:'small', readOnly:readOnly /}
		#{textBox id:'typeDesc', name:'prd.lookupByType.lookupDescription', value:prd?.lookupByType?.lookupDescription, readOnly:true, width:'340px' /}
		<span class="error">#{error 'Fund Type is' /}</span> 
	</p>

	<p>	
		#{textBox id:'clazz', name:'prd.lookupByClass.lookupCode', label:'Fund Class', value:prd?.lookupByClass?.lookupCode, width:'120px', readOnly:readOnly, class:'capitalize', required:true, maxLength:50 /}
		#{hidden  id:'clazzKey', name:'prd.lookupByClass.lookupId', value:prd?.lookupByClass?.lookupId/}
		#{button  id:'clazzHelp', value:'?', class:'small', readOnly:readOnly/}
		#{textBox id:'clazzDesc', name:'prd.lookupByClass.lookupDescription', value:prd?.lookupByClass?.lookupDescription, readOnly:true, width:'340px' /}
		<span class="error">#{error 'Fund Class is' /}</span> 
	</p>

	<p>
		#{textBox id:'currency', name:'currencyCode', label:'Currency', value:prd?.currency?.currencyCode, width:'120px', readOnly:readOnly, class:'capitalize', required:true, maxLength:50 /}
		#{hidden id:'currencyKey', name:'prd.currency.currencyCode', value:prd?.currency?.currencyCode /}
		#{button id:'currencyHelp', value:'?', class:'small', readOnly:readOnly /}
		#{textBox id:'currencyDesc', name:'prd.currency.description', value:prd?.currency?.description, readOnly:true, width:'340px' /}
		<span class="error">#{error 'Currency is' /}</span> 
	</p>

    <p>
        #{textBox id:'transactionDateVal', name:'prd.transactionDate', label:'Transaction Date', value:prd?.transactionDate, readOnly:readOnly, required:true /}
        (T-n)
        <span class="error">#{error 'Transaction Date is' /}</span> 
    </p>

    <p>
        #{textBox id:'postingDate', name:'postingDate', label:'Posting Date', value:prd?.subPostPeriod, format:'#,##0.####', class:'numeric', readOnly:readOnly, required:true, width:'70px' /}
        (T+n)
        #{hidden id:'subPostPeriodHidden', name:'prd.subPostPeriod', value:prd?.subPostPeriod /}
        #{hidden id:'redPostPeriodHidden', name:'prd.redPostPeriod', value:prd?.redPostPeriod /}
        #{hidden id:'swiPostPeriodHidden', name:'prd.swiPostPeriod', value:prd?.swiPostPeriod /}
        <span class="error">#{error 'Posting Date is' /}</span> 
    </p>

	<p>
		#{radioButton id:'isActive', name:'isActive', value:((prd?.isActive)?'true':'false'), label:'Active', options:operators, readOnly:readOnly /}
		#{hidden id:'isActiveHidden', name:'prd.isActive', value:((prd?.isActive)?'true':'false') /}
	</p>

    <span id="errRateInGridNull" class="error"></span>

	<br/>

	<!-- TAB SCREEN -->
	<div id="tabs">
		<ul>
			<li><a href="#tab-1">Subscription</a></li>
			<li><a href="#tab-2">Redemption</a></li>
			<li><a href="#tab-3">Switching</a></li>
<!-- 			<li><a href="#tab-4">Dividend</a></li> -->
<!-- 			<li><a href="#tab-5">Digit Parameter</a></li> -->
			<li><a href="#tab-6">More Information</a></li>
			<li><a href="#tab-7">Bank Account</a></li>
			<li><a href="#tab-8">Selling Agent</a></li>
		</ul>
		<div class="pane" id="tab-1">
			#{include 'RegistryProduct/tab_subscription.html' /}
		</div>
		<div class="pane" id="tab-2">
			#{include 'RegistryProduct/tab_redemption.html' /}
		</div>
		<div class="pane" id="tab-3">
			#{include 'RegistryProduct/tab_switching.html' /}
		</div>
<!-- 		<div class="pane" id="tab-4"> -->
<!-- 			#{include 'RegistryProduct/tab_dividen.html' /} -->
<!-- 		</div> -->
<!-- 		<div class="pane" id="tab-5"> -->
<!-- 			#{include 'RegistryProduct/tab_digit_parameter.html' /} -->
<!-- 		</div> -->
		<div class="pane" id="tab-6">
			#{include 'RegistryProduct/tab_more_info.html' /}
		</div>
		<div class="pane" id="tab-7">
			#{include 'RegistryProduct/grid_bank.html' /}
		</div>
		<div class="pane" id="tab-8">
			#{include 'RegistryProduct/grid_sellingAgent.html' /}
		</div>
	</div>

	<!--- DIALOG TIER -->
<!-- 	<div id="dialogTier" title="Detail Tier" class="form"> -->
<!-- 		<input type="hidden" id="dialogId" value="-1" /> -->
<!-- 		<input type="hidden" id="dialogType" /> -->
<!-- 		#{hidden id:'oldDialogUpperLimit' /} -->
<!-- 		#{hidden id:'newDialogUpperLimit' /} -->
<!-- 		#{hidden id:'oldDialogValue' /} -->
<!-- 		#{hidden id:'newDialogValue' /} -->
<!-- 		<p>	 -->
<!-- 			<div id="divDialogUpperLimitNotRed"> -->
<!-- 			#{textBox id:'dialogUpperLimit', label:'Value',value:fee?.upperLimit, format:'#,##0.####', class:'numeric mask calculate', readOnly:readOnly /} -->
<!-- 			<span id="errUpperLimitNotRed" class="error"></span>	 -->
<!-- 			</div> -->
<!-- 			<div id="divDialogUpperLimitRed"> -->
<!-- 			#{textBox id:'dialogUpperLimitRed', label:'Month (<=)',value:fee?.upperLimit, format:'#,##0.####', class:'numeric mask calculate', readOnly:readOnly /} -->
<!-- 			<span id="errUpperLimitRed" class="error"></span>	 -->
<!-- 			</div> -->
<!-- 			#{hidden  id:'dialogUpperLimitStripped', name:'fee.upperLimit',  value:fee?.upperLimit /} -->
				
<!-- 		</p> -->
<!-- 		<p> -->
<!-- 			#{textBox id:'dialogValue', value:fee?.value,label:'Rate', format:'#,##0.####', class:'numericMaxLength', readOnly:readOnly /} -->
<!-- 			#{hidden  id:'dialogValueStripped', name:'fee.value',  value:fee?.value /} -->
<!-- 			<span id="errValue" class="error"></span>	 -->
<!-- 		</p> -->
<!-- 		<div class="buttons"> -->
<!-- 			#{if (mode=='entry' || mode == 'edit')&& (!(confirming))} -->
<!-- 				<button id="addTierDialog">Save</button> -->
<!-- 				<button id="cancelTierDialog">Cancel</button> -->
<!-- 			#{/if} -->
<!-- 			#{else} -->
<!-- 				#{if confirming || mode=='view' } -->
<!-- 				<button id="cancelTierDialog">Close</button> -->
<!-- 				#{/if} -->
<!-- 			#{/else}	 -->
<!-- 		</div> -->
<!-- 	</div> -->

	<input type="hidden" id="dummy" />
	<div id="dialog-message-1" title="Message Confirmation">
		<p>
		<span class="ui-icon ui-icon-notice" style="float:left; margin:0 7px 50px 0;"></span>
		Are you sure to delete data ? </p>
	</div>
</form>

<!-- Dialog Nav Min -->
<div id="dialogNavMin" title="Detail Nav">
    #{include 'RegistryProduct/dialog_nav.html' /}
    <div class="buttons">
        #{if (((mode == "view"))||(confirming)) }
            <button id="cancelNavDialog">Close</button>               
        #{/if}
        #{else}
            <button id="addNavDialog">Save</button>
            <button id="cancelNavDialog">Cancel</button>
        #{/else}
        
    </div>
</div>

<!--- DIALOG Bank AccountSub -->
<div id="dialogBankAccountSub" title="Detail Bank Account">
    #{include 'RegistryProduct/dialog_bank_sub.html' /}
    <div class="buttons">
        #{if (mode=='entry' || mode == 'edit') && (!(confirming))}
            <button id="addBankDialogSub">Save</button>
            <button id="cancelBankDialogSub">Cancel</button>
        #{/if}
        #{else}
            #{if confirming || mode=='view' }
            <button id="cancelBankDialogSub">Close</button>
            #{/if}
        #{/else}    
    </div>
</div>

<!--- DIALOG Bank Account -->
<div id="dialogBankAccountRed" title="Detail Bank Account">
    #{include 'RegistryProduct/dialog_bank_red.html' /}
    <div class="buttons">
        #{if (mode=='entry' || mode == 'edit') && (!(confirming))}
            <button id="addBankDialogRed">Save</button>
            <button id="cancelBankDialogRed">Cancel</button>
        #{/if}
        #{else}
            #{if confirming || mode=='view' }
            <button id="cancelBankDialogRed">Close</button>
            #{/if}
        #{/else}    
    </div>
</div>

<div id="dialogSellingAgent" title="Selling Agent Account Type">
    #{include 'RegistryProduct/dialog_sellingAgent.html' /}
    <div class="buttons">
        #{if (mode=='entry' || mode == 'edit') && (!(confirming))}
            <button id="addSellingAgent">Save</button>
            <button id="cancelSellingAgent">Cancel</button>
        #{/if}
        #{else}
            #{if confirming || mode=='view' }
            <button id="cancelSellingAgent">Close</button>
            #{/if}
        #{/else}    
    </div>
</div>
<script type="text/javascript">
	#{include 'RegistrySubscription/Util.js' /}
	#{include 'RegistrySubscription/jshashtable-2.1.js' /}
	#{include 'RegistrySubscription/TableFee.js' /}
	#{include 'RegistryProduct/Product.js' /}	
	#{include 'RegistryProduct/TableNav.js' /}
 	#{include 'RegistryProduct/TableBankAccountSub.js' /}
 	#{include 'RegistryProduct/TableBankAccountRed.js' /}
	#{include 'RegistryProduct/TableSellingAgent.js' /}
	#{include 'RegistryProduct/TableExceptionSpecificDate.js' /}

	$(document).ready(function() {
		Product($("#main"));
		
		if ('${mode}'== 'view' || '${confirming}'=='true'){
			$("#fixNavPrice").attr('disabled', 'disabled');
			$("#minBalAmt").attr('disabled', 'disabled');
			$("#minBalUnit").attr('disabled', 'disabled');
			$("#maxBalAmt").attr('disabled', 'disabled');
			$("#maxBalAmtPct").attr('disabled', 'disabled');
			$("#maxBalUnit").attr('disabled', 'disabled');
			$("#maxBalUnitPct").attr('disabled', 'disabled');
			$("#newSubFee").button("option","disabled", true);
			$("#newRedFee").button("option","disabled", true);
			$("#newSwiFee").button("option","disabled", true);
		}
		
		#{if flash.error || errors}
			if ($("#isCheckedSub").is(':checked')){
				$("#isCheckedSub").attr("checked", true);
				$("#subMaxAmt").attr('disabled', 'disabled');
			} else {
				$("#isCheckedSub").attr("checked", false);
				if ('${mode}'!= 'view' && '${confirming}'!='true'){
                    $("#subMaxAmt").attr('disabled', false);
                }
			}
			
			//if ($("#isCheckedSubFee").is(':checked')){
				//$("#isCheckedSubFee").attr("checked", true);
				//$("#subMaxFee").attr('disabled', 'disabled');
			//} else {
				//$("#isCheckedSubFee").attr("checked", false);
				//$("#subMaxFee").attr('disabled', false);
			//}
			
			if ($("#isCheckedRed").is(':checked')){
				$("#isCheckedRed").attr("checked", true);
				$("#redMaxAmt").attr('disabled', 'disabled');
			} else {
				$("#isCheckedRed").attr("checked", false);
				$("#redMaxAmt").attr('disabled', false);
			}
			
			//if ($('#isCheckedRedFee').is(':checked')){
				//$("#isCheckedRedFee").attr("checked", true);
				//$("#redMaxFee").attr('disabled', 'disabled');
			//} else {
				//$("#isCheckedRedFee").attr("checked", false);
				//$("#redMaxFee").attr('disabled', false);
			//}
			
			if ($('#isCheckedSwi').is(':checked')){
				$("#isCheckedSwi").attr("checked", true);
				$("#swiMaxAmt").attr('disabled', 'disabled');
			} else {
				$("#isCheckedSwi").attr("checked", false);
				$("#swiMaxAmt").attr('disabled', false);
			}
			
			//if ($('#isCheckedSwiFee').is(':checked')){
				//$("#isCheckedSwiFee").attr("checked", true);
				//$("#swiMaxFee").attr('disabled', 'disabled');
			//} else {
				//$("#isCheckedSwiFee").attr("checked", false);
				//$("#swiMaxFee").attr('disabled', false);
			//}
			
			if ($('#checkBidOffer').is(':checked')) {
				$('#checkBidOffer').attr('checked', true);
				$('#bidPct').attr('disabled', false);
				$('#offerPct').attr('disabled', false);
			} else {
				$('#checkBidOffer').attr('checked', false);
				$('#bidPct').attr('disabled', 'disabled');
				$('#offerPct').attr('disabled', 'disabled');
			}
		#{/if}
		#{else}
			if ('${mode}' == 'entry' && '${confirming}'!='true'){
				$("#isCheckedSub").attr("checked", true);
				$("#subMaxAmt").attr('disabled', 'disabled');
				
				//$("#isCheckedSubFee").attr("checked", true);
				//$("#subMaxFee").attr('disabled', 'disabled');
				
				$("#isCheckedRed").attr("checked", true);
				$("#redMaxAmt").attr('disabled', 'disabled');
				
				//$("#isCheckedRedFee").attr("checked", true);
				//$("#redMaxFee").attr('disabled', 'disabled');
				
				$("#isCheckedSwi").attr("checked", true);
				$("#swiMaxAmt").attr('disabled', 'disabled');
			
				//$("#isCheckedSwiFee").attr("checked", true);
				//$("#swiMaxFee").attr('disabled', 'disabled');
			}
		#{/else}

	});
	function validateForm(){
		var checkError = true;
		$('input.fieldError').each(function(idx, obj){
			var curObj = $(obj);
			var reqClass = curObj.parent().find("label span.req");
			/*if( reqClass[0] == undefined ){// not required
				reqClass = curObj.parent().parent().find("label span.req");
			}*/
			if( reqClass[0] == undefined ) {
				// not required
				if( curObj.val() !='' && curObj.hasClass("fieldAppDateError") ){//date harus dikosongin
					//console.log(curObj.attr("id")+" has fieldError1");
					checkError = false;
				}

			}else{ 
				// required
				if( curObj.hasClass('fieldError') ){
//					console.log(curObj.attr("id")+" has fieldError2");
					checkError = false;
				}
			}
		});
		return checkError;
	}
	function doSave() {
		if ($('#effectiveDate').hasClass('fieldError')){
			$('#tabs').tabs("select","tab-6");
			$('#effectiveDate').focus();
			return false;
		};
		
		if ($('#liquidDate').hasClass('fieldError')){
			$('#tabs').tabs("select","tab-6");
			$('#liquidDate').focus();
			return false;
		};
		
		if ($('#amountVal').hasClass('fieldError')){
			$('#tabs').tabs("select","tab-6");
			$('#amountVal').focus();
			return false;
		};
		
		if ($('#unitVal').hasClass('fieldError')){
			$('#tabs').tabs("select","tab-6");
			$('#unitVal').focus();
			return false;
		};

		if ($('#priceVal').hasClass('fieldError')){
			$('#tabs').tabs("select","tab-6");
			$('#priceVal').focus();
			return false;
		};
		
		if ($('.maxValidate').hasClass('fieldError')){
			return false;
		};

// 		if (($('#minBalAmt').attr('disabled')==false)&&($('#minBalAmt').val()=='')){
// 			$('#tabs').tabs("select","tab-6");
// 			$('#minBalAmt').focus();
// 			$('#errMinBalAmt').html('Required');
// 			return false;
// 		} else {
// 			$('#errMinBalAmt').html('');
// 		}
		
// 		if (($('#minBalUnit').attr('disabled')==false)&&($('#minBalUnit').val()=='')){
// 			$('#tabs').tabs("select","tab-6");
// 			$('#minBalUnit').focus();
// 			$('#errMinBalUnit').html('Required');
// 			return false;
// 		} else {
// 			$('#errMinBalUnit').html('');
// 		}
		
		if (($('.total').css('display') != 'none')&&($('#maxBalAmt').val()=='')&&($('#maxBalAmt').css('display') != 'none')){
			$('#errTotalLimit').html('Required');
			$('#tabs').tabs("select","tab-6");
			$('#maxBalAmt').focus();
			return false;
		} else {
			$('#errTotalLimit').html('');
		}

		if (($('.total').css('display') != 'none')&&($('#maxBalAmtPct').val()=='')&&($('#maxBalAmtPct').css('display') != 'none')){
			$('#errTotalLimit').html('Required');
			$('#tabs').tabs("select","tab-6");
			$('#maxBalAmtPct').focus();
			return false;
		} else {
			$('#errTotalLimit').html('');
		}
		
		if (($('.isSeparate').css('display') != 'none')&&($('#maxBalAmt1').val()=='')&&($('#maxBalAmt1').css('display') != 'none')&&($('#maxBalUnit').val()=='')&&($('#maxBalUnit').css('display') != 'none')) {
			$('#errRedSeparate').html('Required');
			$('#errSwiSeparate').html('Required');
			$('#tabs').tabs("select","tab-6");
			$('#maxBalAmt1').focus();
			return false;
		} else {
			$('#errRedSeparate').html('');
			$('#errSwiSeparate').html('');
		}
		
		if (($('.isSeparate').css('display') != 'none')&&($('#maxBalAmt1').val()=='')&&($('#maxBalAmt1').css('display') != 'none')) {
			$('#errRedSeparate').html('Required');
			$('#tabs').tabs("select","tab-6");
			$('#maxBalAmt1').focus();
			return false;
		} else {
			$('#errRedSeparate').html('');
		}

		if (($('.isSeparate').css('display') != 'none')&&($('#maxBalUnit').val()=='')&&($('#maxBalUnit').css('display') != 'none')) {
			$('#errSwiSeparate').html('Required');
			$('#tabs').tabs("select","tab-6");
			$('#maxBalUnit').focus();
			return false;
		} else {
			$('#errSwiSeparate').html('');
		}
		
		if (($('.isSeparate').css('display') != 'none')&&($('#maxBalAmtPct1').val()=='')&&($('#maxBalAmtPct1').css('display') != 'none')&&($('#maxBalUnitPct').val()=='')&&($('#maxBalUnitPct').css('display') != 'none')) {
			$('#errRedSeparate').html('Required');
			$('#errSwiSeparate').html('Required');
			$('#tabs').tabs("select","tab-6");
			$('#maxBalAmtPct1').focus();
			return false;
		} else {
			$('#errRedSeparate').html('');
			$('#errSwiSeparate').html('');
		}
		
		if (($('.isSeparate').css('display') != 'none')&&($('#maxBalAmtPct1').val()=='')&&($('#maxBalAmtPct1').css('display') != 'none')) {
			$('#errRedSeparate').html('Required');
			$('#tabs').tabs("select","tab-6");
			$('#maxBalAmtPct1').focus();
			return false;
		} else {
			$('#errRedSeparate').html('');
		}

		if (($('.isSeparate').css('display') != 'none')&&($('#maxBalUnitPct').val()=='')&&($('#maxBalUnitPct').css('display') != 'none')) {
	//		alert("8");
			$('#errSwiSeparate').html('Required');
			$('#tabs').tabs("select","tab-6");
			$('#maxBalUnitPct').focus();
			return false;
		} else {
			$('#errSwiSeparate').html('');
		}
		
		if (($('#subFeeTable').size() == 1)||($('#redFeeTable').size() == 1)||($('#swiFeeTable').size() == 1)){
			var subFee = $.trim($('#subFeeTable').tbody().children().children().eq(1).html());
			var redFee = $.trim($('#redFeeTable').tbody().children().children().eq(1).html());
			var swiFee = $.trim($('#swiFeeTable').tbody().children().children().eq(1).html());
			if ((subFee == '')||(redFee == '')||(swiFee == '')){
				$('#tabs').tabs("select","tab-1");
				$('#errSavingRateNull').html('There is still null value for "Rate" in one of or all table, please check again on every table !');
				return false;
			} 
		}
		
// 		$('#customerNo').change(function(){
// 			if ($('#customerNo').val() == "") {
// 				$('#customerNo').val("");
// 				$('#customerNo').val("");
// 				$('#customerNo').val("");
// 			} 
// 		});
		
		function validateMaxFeeTier(value, maxValue, el, errMsg, type){
            if (new Number(value) > new Number(maxValue)){
                if(type == "swi")
                {
                    $('#tabs').tabs("select","tab-3");
                    
                }
                
                if(type == "red")
                {
                    $('#tabs').tabs("select","tab-2");
                }
                
                if(type == "sub")
                {
                    $('#tabs').tabs("select","tab-1");
                }
                
                $(el).addClass('fieldError');
                $(errMsg).html("Maximum Fee must be greater than Default Fee");
                
                return false;
            } else {
                $(el).removeClass('fieldError');
                $(errMsg).html("");
            }
        };
		
		var errMsgSubFeeTier = $("#isCheckedSubMaxFeeError");
        var valueSub = $("input[id='valueSub[0]Stripped']").val($("input[id='valueSub[0]']").val());
        var maxValueSub = $("input[id='maxValueSub[0]Stripped']").val($("input[id='maxValueSub[0]']").val());

        if ($("input[id='isCheckedSubMaxValue[0]Stripped']").val() != "true" && !$("input[id='maxValueSub[0]']").isEmpty())
        {
            validateMaxFeeTier(valueSub.val(), maxValueSub.val(), $("input[id='maxValueSub[0]']"), errMsgSubFeeTier, "sub");
        }
		
        var errMsgRedFeeTier = $("#isCheckedRedMaxFeeError");
        var valueRed = $("input[id='valueRed[0]Stripped']").val($("input[id='valueRed[0]']").val());
        var maxValueRed = $("input[id='maxValueRed[0]Stripped']").val($("input[id='maxValueRed[0]']").val());

        if ($("input[id='isCheckedRedMaxValue[0]Stripped']").val() != "true" && !$("input[id='maxValueRed[0]']").isEmpty())
        {
            validateMaxFeeTier(valueRed.val(), maxValueRed.val(), $("input[id='maxValueRed[0]']"), errMsgRedFeeTier, "red");
        }
        
        var errMsgSwiFeeTier = $("#isCheckedSwiMaxFeeError");
        var valueSwi = $("input[id='valueSwi[0]Stripped']").val($("input[id='valueSwi[0]']").val());
        var maxValueSwi = $("input[id='maxValueSwi[0]Stripped']").val($("input[id='maxValueSwi[0]']").val());

        if ($("input[id='isCheckedSwiMaxValue[0]Stripped']").val() != "true" && !$("input[id='maxValueSwi[0]']").isEmpty())
        {
            validateMaxFeeTier(valueSwi.val(), maxValueSwi.val(), $("input[id='maxValueSwi[0]']"), errMsgSwiFeeTier, "swi");
        }

		var table = $("#listNavMin #navMinTable").dataTable();
        var rows = table.fnGetNodes().length;
        for (i = 0; i < rows; i++)
        {
            var cells = table.fnGetData(i);
            if(cells.maxCounter < 1)
            {
                $("#btnNewNavDialogError").html("Max Counter is Required");
                $('#tabs').tabs("select","tab-6");
                return false;
            }
        }
        
        if(rows < 1)
        {
        	$("#btnNewNavDialogError").html("Nav minimum is Required");
        	return false;
        }
		
        var paymentDate = $("#redPayPeriod").val();
        var maxPaymentDate = $("#maximumPaymentDate").val();
        var errMsg = $("#paymentDateError");

        if (new Number(paymentDate) > new Number(maxPaymentDate)){
            $("#redPayPeriod").addClass('fieldError');
            //$(errMsg).html("Payment Date must be smaller than Maximum Payment Date in tab More Information");
            $(errMsg).html("Payment Date must be smaller than Maximum Payment Date");
            $('#tabs').tabs("select","tab-2");
            return false;
        } else {
            $("#redPayPeriod").removeClass('fieldError');
            $(errMsg).html("");
        }
        
// 		var checkError = $('input').hasClass('fieldError');
// 		if (checkError) {
// 			return false;
// 		}
		
		if(!validateForm())
			return false;
		
		submit('@{save()}?mode=${mode}&isNewRec=${isNewRec}#{if group}&group=${group}#{/}')
		return false;
	}
	
	function doConfirm() {
		submit('@{confirm()}/?mode=${mode}&isNewRec=${isNewRec}#{if group}&group=${group}#{/}');
		return false;
	};

	function doBack() {
		var productCode = $("#productCode").val();
		productCode = productCode.replace(/#/g, '${specialCharPagar}').toString();
        location.href='@{back()}?id=' + productCode +'&mode=${mode}#{if group}&group=${group}#{/if}#{if isNewRec}&isNewRec=${isNewRec}#{/if}#{if status}&status=${status}#{/if}';
        return false;
    };
</script>