#{extends 'templates/detail1.html' /}
#{set pageTitle: 'Charge Master Maintenance Approval' /}

<script type="text/javascript">
	$(function() {
	//	$('.buttons').css("display", "none");
	$('#cancel').css('display','none');
		$('#approval-actions').css('display','block');
		$('.btn').button();
		$(".btn").css("width", "100px");
		$('#approve').button();
		$('#reject').button();
		
	//	$('#approve').insertBefore('#close');
	//	$('#reject').insertBefore('#close');
	
		var backToWorkList = function() {
			loading.dialog('open');
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			};
		}

		$('#approve').click(function() {
			var action = "@{approve()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					//alert("Charge Master '${master?.chargeCode}' is Approved" + data);
					messageAlertOk("Charge Master '${master?.chargeCode}' is Approved", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else{
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});			
		});
		
		$('#reject').click(function() {
			var action = "@{reject()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
				loading.dialog('close');
				if (data.status == 'success') {
					//alert("Charge Master '${master?.chargeCode}' is Rejected" + data);
					messageAlertOk("Charge Master '${master?.chargeCode}' is Rejected", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else{
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});
		});
		
		$('#closeWorkflow').click(function(){
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			}
		});
		//$(".buttons").css("display","none");
		//$("#approval-actions").css("display","block");
	});

</script>

<div id="detail">
	<form id="chargeMasterForm" class="form">
		#{include 'ChargeMasters/detail.html' /}
	</form>
</div>	
	
<div id="approval-actions">
	#{hidden id:'taskId', name:'taskId', value:taskId /}
	#{hidden id:'maintenanceLogKey', name:'maintenanceLogKey', value:maintenanceLogKey /}
	#{hidden id:'operation', name:'operation', value:operation /}
	#{hidden id:'from', name:'from', value:from /}
	<input type="button" id="approve" value="Approve" class="btn"/>
	<input type="button" id="reject" value="Reject" style="margin:5px;" class="btn"/>
	<input type="button" id="closeWorkflow" value="Cancel" class="btn"/>
</div>