#{extends 'templates/main.html' /}
#{set readOnly:((mode !='edit' && mode !='entry') || confirming) /}

<script type="text/javascript">
	$(function() {
		$('.buttons input:button').button();

		var closeDialogMessage = function() {
			$("#dialog-message").dialog("close");
		}

		var backToEntry = function() {
			loading.dialog('open');
			location = "@{entry()}";
		}

		var backToList = function() {
            loading.dialog('open');
            location = "@{list()}";
        }

		//Action Buttons
		$('#save').click(function() {
		    var checkError = $("input").hasClass('fieldError');

            var tradeDate = new Date($("#tradeDate").val());
            var effectiveDate = $("#effectiveDate").val();
            $("#tradeDateError").html("");
            if(effectiveDate > tradeDate.getTime())
            {
                $("#tradeDateError").html("Transaction date can't less than Effective Date Fund").show();
                checkError = true;
            }

            if(checkError)
            {
                return false;
            }

            var action = "@{save()}?mode=${mode}";
            loading.dialog('open');
            $('#registrySwitchForm').attr('action', action);
            $('#registrySwitchForm').submit();
		});

		$('#confirm').click(function() {
			var action = "@{confirm()}?mode=${mode}";
			loading.dialog('open');
			$.post(action, $('#registrySwitchForm').serialize(), function(data, status) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					//alert("Your trade no is " + data.switchKey);
					//location = "@{entry()}";
					messageAlertOk(data.message, "ui-icon ui-icon-circle-check", "Notification", backToList);
				} else {
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", closeDialogMessage);
				}
			});
		});

		$('#back').click(function() {
			location.href = '@{back()}?id=' + ${swt?.switchingKey} + '&mode=${mode}';		
			return false;
		});

		$('#clear').click(function() {
            location.href = '@{entry()}';
        });

		$('#cancel').click(function() {
			location.href = '@{list()}';
		});
	});
</script>

#{if flash.error || errors}
    <div class="error">
    	Error when saving data!<br/>
    	#{if flash.error}
		<li>${flash.error}</li>
		#{/if}

		#{ifErrors}
			#{errors}
				 <li>${error.key} ${error}</li>
			#{/errors}
		#{/ifErrors}
    </div>
#{/if}

<div id="detail">
	#{include 'RegistrySwitch/detail.html' /}	
</div>

<div id="actions" class="buttons">
	#{if confirming}
		<input type="button" id="confirm" value="Confirm" />
		<input type="button" id="back" value="Back" />
	#{/if}
	#{else}
		<input type="button" id="save" value="Save" />
		<input type="button" id="clear" value="Clear" />
		<input type="button" id="cancel" value="Cancel" />
	#{/else}
</div>