<p>
	#{textBox id:'divIopByCashPct', label:'By Cash', name:'inv.divIopByCashPct', value:inv?.divIopByCashPct, class:'percent', width:'60px', readOnly:readOnly, required:true /} <b>%</b>
	&nbsp;<span id="divIopByCashPctError" class="error defaultInvtOpt">#{error 'By Cash in tab Dividend Option is' /}</span>
</p>	
<p>
	#{textBox id:'divIopByReivenstPct', label:'By Reinvestment', name:'inv.divIopByReinvestmentPct', value:inv?.divIopByReinvestmentPct, class:'percent', width:'60px', readOnly:readOnly, required:true  /} <b>%</b>
	&nbsp;<span id="divIopByReivenstPctError" class="error defaultInvtOpt">#{error 'By Reinvestment in tab Dividend Option is' /}</span>
</p>
<p>
	#{textBox id:'divIopByRedeemPct', label:'By Redemption', name:'inv.divIopByRedeemPct', value:inv?.divIopByRedeemPct, class:'percent', width:'60px', readOnly:readOnly, required:true /} <b>%</b>
	&nbsp;<span id="divIopByRedeemPctError" class="error defaultInvtOpt">#{error 'By Redemption in tab Dividend Option is' /}</span>
</p>
<p>
	<span id="defaultInvestortypeError" class="error"></span>
</p>
