<script type="text/javascript">
	function doView(data) {
		location.href="@{view()}?id=" + data[0] + "&fromView=viewCsCancelTrade";
		return false;
	}
</script>

<table id="list" class="display">
	<thead>
		<tr>
			<th>key</th>
			<th>Batch #</th>
			<th>Txn #</th>
			<th>Transaction Date</th>
			<th>Account No</th>
			<th>Security Code</th>
			<th>Description</th>
			<th>Settlement Amount</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		#{list items:csCancelTrades, as:'csCancelTrade'}
			<tr>
				<td>${csCancelTrade?.transactionKey}</td>
				<td>${csCancelTrade?.settlementNumber}</td>
				<td>${csCancelTrade?.transactionNumber}</td>
				<td>${csCancelTrade?.transactionDate?.format(appProp.dateFormat)}</td>
				<td>${csCancelTrade?.account?.accountNo}</td>
				<td>${csCancelTrade?.security?.securityId}</td>
				<td>${csCancelTrade?.transactionTemplate?.description}</td>
				<td align="right">${csCancelTrade?.settlementAmount?.format("#,##0.00")}</td>
				<td>${csCancelTrade?.transactionStatus?.decodeStatus()}</td>
			</tr>
		#{/list}
	</tbody>
</table>
