#{extends 'templates/detail1.html' /}
#{if mode == 'edit' || mode == 'entry' || mode == 'view'}
	#{set pageTitle: 'COA Master Detail' /}
#{/if}
#{if taskId != null}
	#{set pageTitle: 'FA COA Master Approval' /}
#{/if}
#{set id:faCoaMaster?.coaMasterKey /}
#{set mode: mode /}
#{if  coa?.coaLevel == 0 }
	#{set readOnlyLevel:true /}
#{/if}
#{else}
	#{set readOnlyLevel:(((mode!='edit')&&(mode!='entry'))||(confirming))  /}
#{/else}
#{set readOnly:(((mode!='edit')&&(mode!='entry'))||(confirming)) /}
#{set readOnlyNature: (((mode=='entry') && faCoaMaster?.coaParent == "") || (mode=='edit') ||(mode=='view')) /} 
#{script 'lookups.js' /}
#{script 'lookuppaging.js' /}
#{script 'validation/numericOnly.js' /}

<script type="text/javascript">    
	#{include 'RegistrySubscription/Util.js' /}
	$(function() {
		
		if(('${flek}'==1))
		{
			if ($("#isParent").is(':checked')){
				$("#coaParentCode").attr('disabled', false);
				$("#coaParentHelp").attr('disabled', false);
			}else{
				$("#coaParentCode").attr('disabled', true);
				$("#coaParentHelp").attr('disabled', true);
			}
		}
		if (('${mode}'=='entry') || (('${mode}'=='edit') && (('${faCoaMaster?.recordStatus?.decodeStatus()}' == 'Reject')|| ($("#status").val() == 'R' )))) {
			$('input[name=isActive]').attr("disabled", "disabled");
		}
		
		$('input[name=isActive]').change(function(){
			$("input[name='faCoaMaster.isActive']").val($("input[name='isActive']:checked").val());
		});
		
		//elvino
		
		$('#coaParentCode').dynapopup2({key:'coaParentKey', help:'coaParentHelp', desc:'coaParentDescription'},'PICK_FA_COA', '', 'coaMasterCode', 
		function(data){
			console.debug("data.code = " + data.code + " faCoaMasterKey = " + $('#faCoaMasterKey').val());
			//alert(data.coaParentClass);
			if(data.code == $('#faCoaMasterKey').val()) {
				$('#coaParentCode').addClass('fieldError');
				$('#coaParentCode').val('');
				$('#coaParentKey').val('');
				$('#coaParentDescription').val('');
				$('#h_coaParentDescription').val('');
				$('#coaParentCodeHidden').val($('#coaParentCode').val());
				$('#coaParentDescHidden').val($('#coaParentDescription').val());
				$("#coaParentCodeError").html("Parent can't same with Account No");
			} else {
				$('#coaParentCode').removeClass('fieldError');
				$('#coaParentKey').val(data.code);
				$('#coaParentDescription').val(data.description);
				$('#h_coaParentDescription').val(data.description);
				$('#coaParentCodeHidden').val($('#coaParentCode').val());
				$('#coaParentDescHidden').val($('#coaParentDescription').val());
				$('#class').val(data.coaParentClass);
				$("#hiddenClass").val(data.coaParentClass);
				//$("#class").attr('disabled', true);
			}
		}, function(data){
			$('#coaParentCode').addClass('fieldError');
			$('#coaParentCode').val('');
			$('#coaParentKey').val('');
			$('#coaParentDescription').val('NOT FOUND');
			$('#h_coaParentDescription').val('');
		});
		
		/*
		// CURRENCY LOOKUP	
		$('#currency').lookup({
			list:'@{Pick.currencies()}',
			get:{
				url: '@{Pick.currency()}',
				success: function(data) {
					$('#currency').removeClass('fieldError');
					$('#currencyCode').val(data.code);
					$('#currencyDesc').val(data.description);
					$('#h_currencyDesc').val(data.description);
				},
				error: function(data) {
					$('#currency').addClass('fieldError');
					$('#currencyCode').val('');
					$('#currency').val('');
					$('#currencyDesc').val('NOT FOUND');
					$('#h_currencyDesc').val('');
				}
			},
		//	key:$('#currencyCode'),
			description:$('#currencyDesc'),
			help:$('#currencyHelp'),
			nextControl:$('#sequence')
		});
		//===============
		*/
		
		// CHANGE ACTION RADIO BUTTON NATURE	
		$("input[name='natureFaCoa']").change(function(){
		    if ($("input[name='natureFaCoa']:checked").val() == "D")  {
				 $("#hiddenNature").val('D');
		    }
		    else if ($("input[name='natureFaCoa']:checked").val() == "C")  {
			    $("#hiddenNature").val('C');
		    }
		});
		//===============
			
		$("#class").change(function(){
			console.debug("1. " + $('#class').val());
			$("#hiddenClass").val($('#class').val());
		});
		
		// SET PARENT CODE
		if($('#coaParentCode').val()==''){
			($('#coaParentDescription').val(''));
		}
			
		//if($('#coaParentKey').val()!=""){
		//	$('#coaParentCode').attr('disabled',false);
		//	$('#coaParentHelp').attr('disabled',false);
		//} 
		
		if ('${mode}' == 'edit') {
			if($("#isParent").is(':checked')) {
				$("#coaParentCode").attr('disabled', false);
				$("#coaParentHelp").attr('disabled', false);
			}
			else {
				$("#coaParentCode").attr('disabled', true);
				$("#coaParentHelp").attr('disabled', true);
				$("#class").attr('disabled', false);
			}
		} 
		
		if ('${confirming}' == false) {
			if($('#coaParentKey').val()!=""){
				
				$("#coaParentCode").attr('disabled', false);
				$("#coaParentHelp").attr('disabled', false);
				$("#class").attr('disabled', true);
			}
		} else {
			
			$("#coaParentCode").attr('disabled', true);
			$("#coaParentHelp").attr('disabled', true);
			$("#class").attr('disabled', true);
		}
		
		if ('${mode}' == 'view') {
			$("#coaParentCode").attr('disabled', true);
			$("#coaParentHelp").attr('disabled', true);
		}
		
		
		
		//===============
			
		//$("#coaParentCode").attr('disabled', true);
		//$("#coaParentHelp").attr('disabled', true);
		//if ($("#isParent").is(':checked')) {
		//	$("#coaParentCode").attr('disabled', false);
		//	$("#coaParentHelp").attr('disabled', false);
		//}
		
		$("#isParent").click(function() {
			//alert($("#isParent").is(':checked'));
			if ($("#isParent").is(':checked')) {
				
				//$("#coaParentCode").val("");
				//$("#coaParentCodeHidden").val("");
				//$("#coaParentKey").val("");
				//$("#coaParentDescription").val("");
				//$("#coaParentDescHidden").val("");
				
				$("#coaParentCode").attr('disabled', false);
				$("#coaParentHelp").attr('disabled', false);
				
				$("#class").attr('disabled', true);
				$("#class").val('');
				$("#hiddenClass").val('');
			} else {
				$("#coaParentCode").attr('disabled', true);
				$("#coaParentHelp").attr('disabled', true);
				
				$('#coaParentCode').removeClass('fieldError');
				$('#coaParentCode').val('');
				$('#coaParentKey').val('');
				$('#coaParentDescription').val('');
				$('#h_coaParentDescription').val('');
				$('#coaParentCodeHidden').val('');
				$('#coaParentDescHidden').val('');
				
				$("#class").attr('disabled', false);
				//$("#class").val('');
				//$("#hiddenClass").val('');
				
			}
		});
		
		$('#coaParentCode').change(function(){
			if ($('#coaParentCode').val() == "") {
				$('#coaParentCode').val("");
				$('#coaParentDescription').val("");
				$('#coaParentCodeHidden').val("");
				$('#coaParentKey').val("");
				$("#class").val('');
				$("#hiddenClass").val('');
			}
		});
		
	});
	
	// DOCANCEL FUNCTION
	function doCancel() {		
		location.href='@{Coa.list()}';
	}
	//===============
	
</script>

<style type="text/css">
	#isParent {margin-left:-3px;}
</style>

#{hidden id:'position' /}
#{hidden id:'status', name:'status', value:status /}
#{hidden id:'faCoaMasterKey', name:'faCoaMaster.coaMasterKey', value:faCoaMaster?.coaMasterKey /}
#{hidden id:'currency', name:'faCoaMaster.currency.currencyCode', value:faCoaMaster?.currency?.currencyCode /}
#{hidden id:'currencyDescription', name:'faCoaMaster.currency.description', value:faCoaMaster?.currency?.description /}
<p>		
	#{checkBox id:'isParent', name:'faCoaMaster.isParent', label:'Parent', value:faCoaMaster?.isParent, readOnly:readOnly /}
	#{textBox id:'coaParentCode', name:'coaParentCodeHidden', value:faCoaMaster?.coaParent?.coaCode, readOnly:true, width:'113px', class:'capitalize' /}
	#{button id:'coaParentHelp', value:'?', class:'small', readOnly:true /}
	#{textBox id:'coaParentDescription', name:'faCoaMaster.coaParent.description', value:faCoaMaster?.coaParent?.description, readOnly:true, width:'293px' /}
	#{hidden id:'coaParentCodeHidden', name:'faCoaMaster.coaParent.coaCode', value:faCoaMaster?.coaParent?.coaCode /}
	#{hidden id:'coaParentKey', name:'faCoaMaster.coaParent.coaMasterKey', value:faCoaMaster?.coaParent?.coaMasterKey /}
	&nbsp;<span id ="coaParentCodeError" class="error">#{error 'Parent is' /}</span>
</p>
<p>			
	#{textBox id:'coaMasterCode', name:'faCoaMaster.coaCode', label:'Account No', value:faCoaMaster?.coaCode, class:'capitalize', required:true, readOnly:readOnly, width:'133px' , maxLength:50 /}
	<span class="error">#{error 'Account No is' /}</span>
</p>
<p>			
	#{textBox id:'coaMasterDescription', name:'faCoaMaster.description', label:'Description', value:faCoaMaster?.description, class:'capitalize', required:true, readOnly:readOnly, width:'460px', maxLength:255 /}
	<span class="error">#{error 'Description is' /}</span>
</p>
<p>
	#{radioButton id:'nature', name:'natureFaCoa', value:((faCoaMaster?.nature == "C")?"C":"D"), label:'Nature', options:debitCredit, readOnly:readOnly /}
 	#{hidden id:'hiddenNature', name:'faCoaMaster.nature', value:faCoaMaster?.nature /}
</p>

<p>
	#{dropDownList id:'class', name:'classFaCoa', label:'Class', value:faCoaMaster?.category?.lookupId, options:category, readOnly:readOnlyNature , required:true, width:'137px'/}
	#{hidden id:'hiddenClass', name:'faCoaMaster.category.lookupId', value:faCoaMaster?.category?.lookupId /}
	<span class="error">#{error 'Class is' /}</span>	
</p>
<p>
	#{dropDownList id:'subledger', name:'faCoaMaster.subledger.lookupId', label:'Subledger Type', value:faCoaMaster?.subledger?.lookupId, options:subledger, readOnly:readOnly, width:'137px' /}
</p>
<p>			
	#{textBox id:'sequence', name:'faCoaMaster.sequence', label:'Sequence', value:faCoaMaster?.sequence, readOnly:readOnly, width:'133px', maxLength:9, class:'numberOnly'/}
</p>
<p>			
	#{hidden id:'level', name:'faCoaMaster.coaLevel', label:'Sequence',value:faCoaMaster?.coaLevel /}
</p>
<p>
	#{radioButton id:'isActive', name:'isActive', value:((faCoaMaster?.isActive)?'true':'false'), label:'Active', options:operators, readOnly:readOnly /}
	#{hidden id:'isActiveHidden', name:'faCoaMaster.isActive', value:((faCoaMaster?.isActive)?'true':'false') /}
</p>


