#{extends 'templates/main.html' /}
#{set pageTitle: 'Bank Account Maintenance Approval' /}

<script type="text/javascript">
	$(function() {
		
		// DECLARE CLASS BTN
		$(".btn").button();
		$(".btn").css("width", "100px");
		//===============
		
		// DECLARE SOME ID VARIABLE
		$('#approve').button();
		$('#reject').button();
		//===============
		
		var closeDialog = function() {
			$("#dialog-message").dialog('close');	
		}
		
		var backToWorkList = function() {
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			};
		}
			
		$('#approve').click(function() {
			/*
			var approveBnAccountWork = function() {
				var action = "@{approve()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}&updatedInvoiceAccount=true";
				$.post(action, function(data, status, xhr) {
					if (data.status == 'success') {
						messageAlertOk("Account No : '${bankAccount?.accountNo}' is Approved", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
					} else {
						messageAlertOk("Can't approved, Account No : '${bankAccount?.accountNo}' with Bank Code : '${bankAccount?.bankCode?.thirdPartyCode}' has been exist", "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
					}
				});	
			}
			
			var action = "@{approvalCheckInvoiceAccount()}?maintenanceLogKey=${maintenanceLogKey}";
			$.post(action, function(data, status, xhr) {
				if (data.status == 'warning') {
					messageAlertYesNo("Are you sure to change invoicing to this bank account ?", "ui-icon ui-icon-notice", "Confirmation Message", approveBnAccountWork, closeDialog);
				} else if (data.status == 'error') {
					messageAlertOk("Cannot disable invoice account or make this account to inactive, this is the only active invoice account for this customer", "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				} else if (data.status == 'success') {
					action = "@{approve()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}&updatedInvoiceAccount=false";
					$.post(action, function(data, status, xhr) {
						if (data.status == 'success') {
							messageAlertOk("Account No : '${bankAccount?.accountNo}' is Approved", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
						} else {
							messageAlertOk("Can't approved, Account No : '${bankAccount?.accountNo}' with Bank Code : '${bankAccount?.bankCode?.thirdPartyCode}' has been exist", "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
						}
					});
				}
			});
			*/
			
			var action = "@{approve()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
	    		loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk("Account No : '${bankAccount?.accountNo}' is Approved", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else if(data.status == 'error') {
					messageAlertOk("Account No : '${bankAccount?.accountNo}' can not approve cause "+data.message, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});
					
		});
		
		$('#reject').click(function() {
			var action = "@{reject()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
	    		if (data.status == 'success') {
					messageAlertOk("Account No : '${bankAccount?.accountNo}' is Rejected", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else{
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});
		});
		
		$('#closeWorkflow').click(function() {
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			}
		});
		
		// HIDE ALL CLASS BUTTON	
		$(".buttons").css("display","none");
		//===============
			
		// HIDE PROPERTY INSIDE APPROVAL ACTIONS ID	
		$("#approval-actions").css("display","block");
		//===============
	});

</script>

<div id="detail">
	<form id="form" class="form">
		#{include 'BankAccounts/detail.html' /}
	</form>
</div>	

<input type="button" id="approve" value="Approve" class="btn" />
<input type="button" id="reject" value="Reject" style="margin:5px;" class="btn"/>	
<input type="button" id="closeWorkflow" value="Cancel" class="btn" />	
	
<span id="approval-actions">
	#{hidden id:'taskId', name:'taskId', value:taskId /}
	#{hidden id:'maintenanceLogKey', name:'maintenanceLogKey', value:maintenanceLogKey /}
	#{hidden id:'operation', name:'operation', value:operation /}
	#{hidden id:'from', name:'from', value:from /}	
</span>