#{extends 'templates/list1.html' /}
#{set pageTitle: 'Currency Maintenance' /}

<script type="text/javascript">
	function doEdit(data) {
		if ((data[3] == "New") || (data[3] == "Updated")) {
			view(data[0]);
			return false;
		} else {
			return true;
		}
	}
</script>

<table id="grid" class="display">
	<thead>
		<tr>
			<th>code</th>
			<th width="100px">Currency Code</th>
			<th width="300px">Name</th>
			<th width="50px">Status</th>
			<th width="50px">Active</th>
		</tr>
	</thead>
	<tbody>
	#{list items:currencies, as:'currency'}
		<tr>
			<td class="capitalize">
				${currency.currencyCode}
			</td>
			<td class="capitalize">
				${currency.currencyCode}
			</td>
			<td>
				${currency.description}
			</td>
			<td>
				${currency?.recordStatus?.decodeStatus()}
			</td>
			<td>
				${(currency?.isActive) ? 'Yes' : 'No'}
			</td>
		</tr>
	#{/list}
	</tbody>
</table>


	


