#{extends 'templates/main.html' /}
#{set pageTitle: 'Transaction Template Maintenance Approval' /}

<script type="text/javascript">
	$(function() {
		$(".btn").button();
		$(".btn").css("width", "100px");
		
		var backToWorkList = function() {
			loading.dialog('open');
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			};
		}

		$('#approve').click(function() {
			var action = "@{approve()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk("Transaction Code '${transactionTemplate?.transactionCode}' is Approved", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else{
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});			
		});
		
		$('#reject').click(function() {
			var action = "@{reject()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk("Transaction Code '${transactionTemplate?.transactionCode}' is Rejected", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else{
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});
		});
		
		$(".buttons").css("display","none");
		$("#approval-actions").css("display","block");
		
		$('#closeWorkflow').click(function() {
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			}
		});
		
	});

</script>

<div id="detail">
	<form id="form" class="form">
		#{include 'TransactionTemplates/detail.html' /}
	</form>
</div>	
<br />
<input type="button" id="approve" value="Approve"  class="btn" />
<input type="button" id="reject" value="Reject" style="margin:5px;" class="btn" />
<input type="button" id="closeWorkflow" value="Cancel" class="btn" />		
	
<span id="approval-actions">
	#{hidden id:'taskId', name:'taskId', value:taskId /}
	#{hidden id:'maintenanceLogKey', name:'maintenanceLogKey', value:maintenanceLogKey /}
	#{hidden id:'operation', name:'operation', value:operation /}
	#{hidden id:'from', name:'from', value:from /}		
</span>