#{extends 'templates/main.html' /}
#{set pageTitle: 'Positive Securities Sector Approval' /}

<script type="text/javascript">
	$(function() {
		// DECLARE CLASS BTN
		$(".btn").button();
		$(".btn").css("width", "100px");
		//===============
		
		var backToWorkList = function() {
			loading.dialog('open');
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			};
		}
		
		// ACTION BUTTON APPROVE
		$('#approve').click(function() {
			var action = "@{approve()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk("Positive Securities Sector for rule '${sector?.complianceRule?.ruleCode}' is Approved " + data, "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else{
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});			
		});
		//===============
		
		// ACTION BUTTON REJECT	
		$('#reject').click(function() {
			var action = "@{reject()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk("Positive Securities Sector for rule '${sector?.complianceRule?.ruleCode}' is Rejected " + data, "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else{
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});
		});
		//===============
			
		// ACTION BUTTON CLOSE
		$('#cancelWorkflow').click(function() {
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			}
		});
		//===============
		
		// HIDE PROPERTY INSIDE APPROVAL ACTIONS ID 
		$("#approval-actions").css("display","block");
		//===============
			
		$("#close").css("display","none");
	});

</script>

<h2>Positive Securities Sector Approval</h2>
<div id="detail">
	#{include 'SecuritiesSectors/detail.html' /}
</div>	

<div id="approval-actions" class="buttons">
	#{hidden id:'taskId', name:'taskId', value:taskId /}
	#{hidden id:'maintenanceLogKey', name:'maintenanceLogKey', value:maintenanceLogKey /}
	#{hidden id:'operation', name:'operation', value:operation /}
	#{hidden id:'from', name:'from', value:from /}
	
	<input type="button" id="approve" value="Approve" class="btn" />
	<input type="button" id="reject" value="Reject" style="margin:5px;" class="btn"/>
	<input type="button" id="cancelWorkflow" value="Cancel" class="btn" />
</div>