#{extends 'templates/main.html' /}

<script type="text/javascript">
	$(function() {
		// DECLARE CLASS BTN
		$(".btn").button();
		$(".btn").css("width", "100px");
		//===============
			
		// DECLARE SOME ID VARIABLE	
		$('#approve').button();
		$('#reject').button();
		//===============
		
		//$('#approve').insertBefore('#close');
		//$('#reject').insertBefore('#close');
		
		/* var loading = $('<div id="loading" class="loading"><img src="@@{'/public/images/loading2.gif'}" style="margin:10px" align="middle" /> Processing...</div>').appendTo('body');
		loading.dialog({
			closeOnEscape: false,
			draggable: false,
			modal: true,
			resizable: false,
			open:function() {
				$(this).parents(".ui-dialog:first").find(".ui-dialog-titlebar-close").remove();
			} 
		});
		loading.dialog('close'); */
		
		var backToWorkList = function() {
			loading.dialog('open');
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			};
		}
		
		// ACTION BUTTON APPROVE 
		$('#approve').click(function() {
			var action = "@{approve()}?keyId=${keyId}&taskId=${taskId}&uniqeId=${uniqeId}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					//alert("Fund Action Key : '${fa?.fundActionKey}' is Approved");
					messageAlertOk(data.message, "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				} else {
					if (data.error == "error.sentToFaInterface") {
						//alert("Error when sent to FA Interface !");
						messageAlertOk("Error when sent to FA Interface", "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
					} else {
						//alert("Data Error");
						messageAlertOk(data.message, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
					}
				}
			});			
		});
		//===============
		
		// ACTION BUTTON REJECT
		$('#reject').click(function() {
			
			var action = "@{reject()}?keyId=${keyId}&taskId=${taskId}&uniqeId=${uniqeId}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					//alert("Fund Action Key : '${fa?.fundActionKey}' is rejected");
					messageAlertOk(data.message, "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else {
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});
		});
		//===============
		
		// ACTION BUTTON CLOSE
		$('#closeWorkflow').click(function() {
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			}
		});
		//===============
		
		// HIDE ALL CLASS BUTTON
		$(".buttons").css("display","none");
		//===============
		
		// HIDE DISPLAY INSIDE APPROVAL ACTIONS ID
		$("#approval-actions").css("display","block");
		//===============
	});

</script>

<h2>RG-Fund Action Approval</h2>
<div id="detail">
	<form id="form" class="form">
		#{include 'RegistryFundAction/detail.html' /}
	</form>
</div>	

<div id="approval-actions">
	#{hidden id:'taskId', name:'taskId', value:taskId /}
	#{hidden id:'keyId', name:'keyId', value:keyId /}	
	#{hidden id:'from', name:'from', value:from /}	
	
	<input type="button" id="approve" value="Approve" class="btn" />
	<input type="button" id="reject" value="Reject" style="margin:5px;" class="btn"/>
	<input type="button" id="closeWorkflow" value="Cancel" class="btn" />
</div>