#{extends 'templates/list1.html' /}
#{set pageTitle: 'Group Maintenance' /}

<script type="text/javascript">
	function doEdit(data) {
		if ((data[2] == "New") || (data[2] == "Updated")) {
			view(data[0]);
			return false;
		} else {
			return true;
		}
	}
</script>

<table class="display">
	<thead>
		<tr>
			<th width="0">Key</th>
			<th>Group </th>
			<th>Status</th>
			<th width="120px">Active</th>
		</tr>
	</thead>
	<tbody>
	#{list items:groups, as:'item'}
		<tr>
			<td>
				${item?.groupKey} 
			</td>
			<td>
				${item?.groupName}
			</td>
			<td>
				${item?.recordStatus?.decodeStatus()}
			</td>
			<td>
				${(item?.isActive) ? 'Yes':'No'}
			</td>		
		</tr>
	#{/list}
	</tbody>
</table>
	


