#{extends 'templates/main.html' /}

<script type="text/javascript">
	$(function() {
		$('#process').button();
		$('#reset').button();
		$('#confirm').button();
		$('#back').button();
		
		var backToList = function() {
			location = "@{entry()}";
		}
		
		var closeDialogMessage = function() {
			$("dialog-message").dialog('close');
		}
		
		// Action buttons 
		$('#process').click(function() {
			var resume = true;
			if (typeof doSave == 'function') { 
				resume = doSave();
			}
			if (resume) {
				var action = "@{process()}";
				var loading = $('<div id="loading" class="loading"><img src="@@{'/public/images/loading2.gif'}" style="margin:10px" align="middle" /> Saving...</div>').appendTo('body');
				loading.dialog({
					closeOnEscape: false,
					draggable: false,
					modal: true,
					resizable: false,
					open:function() {
						$(this).parents(".ui-dialog:first").find(".ui-dialog-titlebar-close").remove();
					} 
				});
				$('#closingEOYForm').attr('action', action);
				$('#closingEOYForm').submit();
			}
		});
		$('#confirm').click(function() {
			var action = "@{confirm()}";
			var loading = $('<div id="loading" class="loading"><img src="@@{'/public/images/loading2.gif'}" style="margin:10px" align="middle" /> Saving...</div>').appendTo('body');
			loading.dialog({
				closeOnEscape: false,
				draggable: false,
				modal: true,
				resizable: false,
				open:function() {
					$(this).parents(".ui-dialog:first").find(".ui-dialog-titlebar-close").remove();
				} 
			});
			$.post(action, $('#closingEOYForm').serialize(), function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk(data.message, "ui-icon ui-icon-circle-check", "Notification", backToList);
				} else {
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", closeDialogMessage);
				}
			});
			
		});
		$('#back').click(function() {
			location.href="@{back()}?id=${faTransaction?.transactionKey}&mode=${mode}";
		});
		$('#reset').click(function() {
			location.href='@{entry()}';	
		});
		
	});	
</script>
<h2>End Year Closing</h2>
#{if flash.error || errors}
    <div class="error">
    	Error when saving data!<br/>
		<li>${flash.error}</li>
		#{ifErrors}
			#{errors}
				 <li>${error.key} ${error}</li>
			#{/errors}
		#{/ifErrors}
    </div>
#{/if}
<div id="detail">
	#{include 'ClosingEOY/detail.html' /}	
</div>
<div id="actions" class="buttons">
	#{if confirming}
		<input type="button" id="confirm" value="Confirm" />
		<input type="button" id="back" value="Back" />
	#{/if}
	#{else}
		<input type="button" id="process" value="Process" />
		<input type="button" id="reset" value="Reset" />
	#{/else}
</div>