#{extends 'templates/main.html' /}
#{set pageTitle: 'Customer Information' /}

<div id="root">
	<h3><a href="#">Search Customer</a></h3>

	<form id="searchForm" class="form">
		<input id="param" name="params.param" type="hidden" value="${param}"/> 
		#{hidden id:'query', name:'params.query', value:params?.query /}
		<p>
			#{dropDownList id:'customerNoOperator', name:'params.customerNoOperator', label:'Customer Code', options:stringOperators, value:params.customerNoOperator /}
			#{textBox id:'customerSearchNo', name:'params.customerSearchNo', value:params.customerSearchNo, class:'capitalize' /}
		</p>
		<p>
			#{dropDownList id:'customerNameOperator', name:'params.customerNameOperator', label:'Customer Name', options:stringOperators, value:params.customerNameOperator /}
			#{textBox id:'customerSearchName', name:'params.customerSearchName', value:params.customerName, width:'350px', class:'capitalize' /}
		</p>
		<p>
			#{dropDownList id:'contactNoOperator', name:'params.contactNoOperator', label:'Contact Person Name', options:stringOperators, value:params.contactNoOperator /}
			#{textBox id:'customerSearchContactName', name:'params.customerSearchContactName', value:params.customerSearchContactName, width:'350px', class:'capitalize' /}
		</p>
		<p>
			<div class="buttons">
				<input type="button" id="search" value="Search" />				
				<input type="button" id="reset" value="Reset" />
			</div>
		</p>
	</form>
</div>
<br />
<div id="result" style="display:none">
	<table id="tablecustomer" class="display">
		<thead>
			<tr>
				<th width="100px" field="customerNo|string|none|left|sort">Customer Code</th>
				<th width="250px" field="customerName|string|none|left|sort">Name</th>
				<th width="80px" field="birthDate|date|date|center|sort">Birth Date</th>
				<th width="150px" field="identification1No|string|none|left|sort">Identification No</th>
				<th width="80px" field="recordStatus|string|decode|center|sort">Status</th>
				<th width="50px" field="isActive|boolean|yesno|center|sort">Active</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
	#{if param == 'dedupe'}
<div id="buttonNotInList" class="buttons">
	<label><input type="checkbox" id="notInList"/> Not in the list</label>&nbsp;
	<input type="button" id="newDataCust" value="New Data" />	
</div>
#{/if}	
</div>



<script type="text/javascript">
	#{include 'RegistrySubscription/Util.js' /}
	#{include 'Customers/CustomerPaging.js' /}
	$(document).ready(function() {
		Paging($("#root").add("#result"));
	});
</script>
