#{extends 'ThirdParties/list1.html' /}
#{set pageTitle: "Third Party Maintenance - ${lookup?.lookupDescription}" /} 
#{set canGoBack: true /} 
#{set group: group /}

<script type="text/javascript">

	function doEdit(data) {
		if('${lookup?.lookupId}' == 'THIRD_PARTY-SELLING_AGENT') {
			if ((data[4] == "New") || (data[4] == "Updated")) {
				view(data[0]);
				return false;
			} else {
				return true;
			}
		} else {
			if ((data[3] == "New") || (data[3] == "Updated")) {
				view(data[0]);
				return false;
			} else {
				return true;
			}
		}
		
	}
	
</script>

#{hidden id:'pagetype', name:'pagetype', value:pagetype /}
<table class="display">
	<thead>
		<tr>
			<th>Key</th>
			<th width="150px">Code</th>
			<th width="300px">Name</th>
			#{if lookup?.lookupId == 'THIRD_PARTY-SELLING_AGENT'}
				<th width="100px">Parent</th>
			#{/if}
			<th width="50px">Status</th>
			<th width="50px">Active</th>
			
		</tr>
	</thead>
	<tbody>
		
		#{list items:thirdParties, as:'thirdParty'}
			<tr>
				<td>
					${thirdParty?.thirdPartyKey} 
				</td>
				<td>
					${thirdParty?.thirdPartyCode} 
				</td>
				<td>
					${thirdParty?.thirdPartyName}
				</td>
				#{if lookup?.lookupId == 'THIRD_PARTY-SELLING_AGENT'}
					<td>
						${thirdParty?.parentValue?.thirdPartyCode}
					</td>
				#{/if}
				<td>
					${thirdParty?.recordStatus?.decodeStatus() }
				</td>
				<td>
				 	${thirdParty?.isActive ? 'Yes':'No'}
				</td>
			</tr>
		#{/list}
	</tbody>
</table>
