#{extends 'templates/list1.html' /}
#{set pageTitle: ' ' /}
#{set fixData: true /}
#{set mode: mode /}
#{script 'lookups.js' /}

<script type="text/javascript">
	function doEdit(data) {
		return false;
	}
</script>
<div id="accordion">
	<h3><a href="#">Invoice Generation</a></h3>
	<form id="invoiceGenForm" class="form">
		<div id="tabs">
			#{hidden id:'message', name:'param.message', value:param?.message/}
			#{hidden id:'filter', name:'param.filter', value:param?.filter/}
			#{hidden id:'billingKeys', name:'param.billingKeys', value:param?.billingKeys/}
			<p>
				<input id="filterAll" type="radio" name="filterGroup" value='ALL'/>
				<label>ALL</label>
			</p>
			<p>
				<input id="filterCustomerNumber" type="radio" name="filterGroup" value='CustomerNumber'/>
				<label>Customer No</label>
				#{textBox id:'customer', name:'param.customer', value:param?.customer, class:'capitalize' /}
				#{hidden id:'customerKey', name:'param.customerKey', value:param?.customerKey/}
				#{button id:'customerHelp', value:'?', class:'small' /}
				#{textBox id:'customerDesc', name:'param.customerDesc', value:param?.customerDesc, readOnly:true, width:'222px' /}
				<span class="error">#{error 'Customer' /}</span>			
			</p>
			<p>
				<input id="filterAccountNumber" type="radio" name="filterGroup" value='AccountNumber'/>
				<label>Account No</label>
				#{textBox id:'account', name:'param.account', value:param?.account, class:'capitalize'/}
				#{hidden id:'accountKey', name:'param.accountKey', value:param?.accountKey/}
				#{button id:'accountHelp', value:'?', class:'small'/}
				#{textBox id:'accountDesc', name:'param.accountDesc', value:param?.accountDesc, readOnly:true, width:'222px' /}
				<span class="error">#{error 'Account' /}</span>			
			</p>
		</div>
		
		<br/>
		
		<p>
			#{textBox id:'invMonth', name:'param.invMonth', value:param?.invMonth, label:'Invoice Month / Year', width:'85px', maxLength:2, size:2, class:'numberOnly', required:'true' /}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label style="width:10px">/</label>
			#{textBox id:'invYear', name:'param.invYear', value:param?.invYear, width:'85px', maxLength:4, size:4, class:'numberOnly', required:'true' /}
			<span class="error">#{error 'Invoice Month' /}</span>
			<span class="error">#{error 'Invoice Year' /}</span>
		</p>
		<p>
			#{checkBox id:'isIncludeZero', name:'param.includeZeroAmount', value:param?.includeZeroAmount /}&nbsp;&nbsp;<b>Include Zero Amount Invoice</b>
		</p>
		<p>
			<div class="buttons">
				<input id='btnSearch' type="button" id="search" value="Search" ></input>
			</div>
		</p>
		<p>
			<table id="tblBilling" class="display">
				<thead>
					<tr>
						<th align="left">Key</th>
						<th align="center"><input type="checkbox" id="chkSelectAll"></th>
						<th align="left" width="150">Invoice No</th>
						<th align="left" width="100">Account&nbsp;No</th>
						<th align="left" width="120">Name</th>
						<th align="right" width="100">Total&nbsp;Amount&nbsp;After&nbsp;Tax</th>
						<th align="center" width="100">Invoice&nbsp;Date</th>
						<th align="center" width="100">Due&nbsp;Date</th>
					</tr>
				</thead>
				<tbody>
				#{list billings, as:'bill'}
					<tr billingkey=${bill?.billingKey}>
						<td align="left">${bill?.billingKey}</td>
						<td align="center"><input type="checkbox" name="chkRow" value=${bill?.billingKey}></td>
						<td align="left" width="150">${bill?.invoiceNo}</td>
						<td align="left" width="100">${bill?.account?.custodyAccountKey}</td>
						<td align="left" width="120">${bill?.customer?.customerName}</td>
						<td align="right" width="100">${bill?.totBillAmnt.format('##,###.00')}</td>
						<td align="center" width="100">${bill?.invoiceDate?.format(appProp.dateFormat)}</td>
						<td align="center" width="100">${bill?.dueDate?.format(appProp.dateFormat)}</td>
					</tr>
				#{/list}
				</tbody>
			</table>
		</p>		
		<br>
		<p>
			<div class="buttons">
				<input id='btnGenerate' type="button" id="generate" value="Generate" ></input>
				<input id='btnReset' type="button" id="reset" value="Reset" ></input>			
			</div>
		</p>
	</form>
</div>
	
<div id="popupDetail">
	<form class='form'>
	#{hidden id:'billingKey'/}
	<p>
		<label>Customer No</label>
		#{textBox id:'popCustomer', readOnly:true/}
		#{textBox id:'popCustomerDesc', readOnly:true, width:'222px' /}
		</p>
	<p>
		<label>Account No</label>
		#{textBox id:'popAccount', readOnly:true/}
		#{textBox id:'popAccountDesc', readOnly:true, width:'222px' /}
	</p>
	<p>
		<label>Invoice Month/Year</label>
		#{textBox id:'popMonth', readOnly:true, width:'50px' /} /
		#{textBox id:'popYear', readOnly:true, width:'50px' /}
	</p>
	<p>
		<label>Total Amount After Tax</label>
		#{textBox id:'popTotAmtAfterTax', readOnly:true, width:'150px' /} 
	</p>
	<p>
		#{textBox id:'popInvDate', label:'Invoice Date', class:'calendar'/}
	</p>
	<p>
		#{textBox id:'popInvDueDate', label:'Invoice Due Date', class:'calendar'/}
	</p>
	<p>
		<table id="tblBillingDetail" class="display">
		<thead>
			<tr>
				<th align="left">Key</th>
				<th align="left" width="220">Charges</th>
				<th align="right" width="110">Amount</th>
				<th align="right" width="110">Tax Amount</th>
				<th align="right" width="110">Amount After Tax</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	</p>
	<p>
		<div class="buttons">
			<input id='btnSave' type="button" id="save" value="Save" ></input>
			<input id='btnCancel' type="button" id="cancel" value="Cancel" ></input>			
		</div>
	</p>
	
	</form>
</div>		

<div id="result" style="display:none">
	<div class="loading"><img src="@@{'/public/images/loading2.gif'}" style="margin: 10px" /></div>
	<div class="response"></div>
</div>

<script type="text/javascript">
	#{include 'RegistrySubscription/Util.js' /}
	#{include 'InvoiceGeneration/InvoiceGeneration.js' /}
	$(document).ready(function() {
		$('.buttons input:button').button();
		InvoiceGeneration($("#main"));
	})
</script>



	

