#{extends 'templates/main.html' /}
#{set pageTitle: "TA Maturity Process" /}

#{if flash.error || errors}
    <div class="error">
    	Error when saving data!<br/>
		<li>${flash.error}</li>
		#{ifErrors}
			#{errors}
				 <li>${error.key} ${error}</li>
			#{/errors}
		#{/ifErrors}
    </div>
#{/if}


<div id="root">
<h3><a href="#">Search Transaction</a></h3>
<form class="form" id="formsearch">
		<input id="fundKey" name="param.fundKey" type="hidden"/> 
		#{hidden id:'query', name:'params.query', value:params?.query /}
		#{hidden id:'maxDate', name:'params.maxDate', value:params?.maxDate /}
	<p>
		#{textBox id:'maturityDateFrom', name:'param.maturityDateFrom', label:'Maturity date', value:param?.maturityDateFrom?.format(appProp.dateFormat), class:'calendar', readOnly:readOnly, required:true /}(${appProp.displayDateFormat})
		<span class="error" id="maturityDateFromError"></span>
		to
		#{textBox id:'maturityDateTo', name:'param.maturityDateTo', label:'', value:param?.maturityDateTo?.format(appProp.dateFormat), class:'calendar', readOnly:readOnly, required:true /} (${appProp.displayDateFormat})
		<span class="error" id="maturityDateToError"></span>
	</p>
	<p>
		#{textBox id:'fundCode', name:'param.fundCode', label:'Fund Code', value:param?.fundCode, width:'120px', readOnly:false, class:'capitalize', maxLength:50/}
		#{button  id:'fundCodeHelp', value:'?', class:'small', readOnly:false/}
		#{textBox id:'fundCodeDesc', value:param?.fundCode, readOnly:true, width:'340px' /}
	</p>
	<p>
		<div class="buttons">
			<input type="button" id="search" value="Search" />				
			<input type="button" id="reset" value="Reset" />					
		</div>
	</p>
</form>
</div>
	
<div id="result" style="display:none">
	<table id="maturityTable" class="display">
		<thead>
			<tr>
				<th width="100px" field="liquidDate|date|date|left|sort">Maturity Date</th>
				<th width="100px" field="productCode|string|none|left|sort">Fund Code</th>
				<th width="100px" field="name|string|none|left|sort">Fund Name</th>
				<th width="100px" field="lookupByType.lookupDescription|string|none|left|sort">Fund Type</th>
				<th width="100px" field="lookupByClass.lookupDescription|string|none|left|sort">Fund Class</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>	
#{script 'lookups.js' /}
<script type="text/javascript">
	#{include 'RegistrySubscription/Util.js' /}
	#{include 'RegistryLiquidationProcess/MaturityPaging.js' /}
	$(function() {
		MaturityPaging($("#main"));
	});
</script>
