#{extends 'templates/main.html' /}
#{set pageTitle: ' ' /}
#{set fixData: true /}
#{set mode: mode /}
#{script 'lookups.js' /}

<h3>Execute Upload</h3>
	<form id="uploadDataForm" class="form">
	
	<table id="tblExecUpload" class="display">
		<thead>
			<tr>
				<th></th>
				<th width="50px">Key</th>
				<th width="80px">Name</th>
				<th>File Name</th>
				<th>Status</th>
				
			</tr>
		</thead>
		<tbody>
		#{list items:batch, as:'batchs'}
			<tr>
				<td></td>
				<td>
					${batchs?.batchKey} 
				</td>
				<td>
					${batchs?.description}
				</td>
				<td>
					${batchs?.filename}
				</td>
				<td>
					${batchs?.status}
				</td>
					
			</tr>
		#{/list}
		</tbody>
	</table>
		
		<fieldset id="divDescription" style="display:none;width:590;height:90;position:relative;right:0;top:23;">		
			<legend>Detail</legend>
				<label style="width: 90px">Batch No </label> 
				#{textBox id:'idBatch',width:'85px', readOnly:'true' /}  &nbsp;&nbsp;&nbsp;
				#{textBox id:'description',width:'300px', readOnly:'true' /}
				<br>
				<br>
				<label style="width: 90px">Status </label> 
				#{textBox id:'status',width:'50px', readOnly:'true'/}
				<br>
				<label style="width: 90px"> &nbsp;  </label>  
				<label style="width: 150px"> Total Record Success : </label> #{textBox id:'totalSuccess',width:'50px', readOnly:'true'/}
				<br>
				<label style="width: 90px"> &nbsp;  </label> 
				<label style="width: 150px"> Total Record Failed : </label> #{textBox id:'totalError',width:'50px', readOnly:'true'/}
		</fieldset>
		<br/>
		<br/>
		<br>
		<p>
			<table id="tblPopulateUpload">
				<thead id="tblHead">
					<tr id="tblTr"></tr>
				</thead>
				<tbody id="tblBody"></tbody>
			</table>
		</p>
		<div class="buttons" style="display: none">
			<input id='btnRealUpload' type="button" value="Exec. Upload" ></input>
			<!-- <input id='btnRealCancel' type="button" value="Cancel" ></input> -->
			<input id='btnRealReset' type="button" value="Reset"></input>
			
		</div>
		
	</form>


<div id="result" style="display:none">
	<div class="loading"><img src="@@{'/public/images/loading2.gif'}" style="margin: 10px" /></div>
	<div class="response"></div>
</div>

<script type="text/javascript">
	#{include 'RegistrySubscription/Util.js' /}
	#{include 'UploadDownload/ExecuteUpload.js' /}
	$(document).ready(function() {
		$('#btnPopulate').button();
		$('#btnRealUpload').button();
		$('#btnRealCancel').button();
		$('.buttons input:button').button();
		ExecuteUpload($("#html"));
	});
</script>