#{extends 'templates/main.html' /}

<script type="text/javascript">
	$(function() {
		$(".btn").button();
		$(".btn").css("width", "100px");
		
		var backToWorkList = function() {
			loading.dialog('open');
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			};
		}
		
		$('#approve').click(function() {
			var action = "@{approve()}?keyId=${customer?.customerKey}&taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk("Investor : '${customer?.customerNo}' is Approved", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				} else {
					if ($("#from").val() == 'listBatch') {
						location = "@{Approvals.listbatch()}";
					} else {
						location = "@{Approvals.list()}";
					}
				}
			});			
		});
		$('#reject').click(function() {
			var action = "@{reject()}?keyId=${customer?.customerKey}&taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk("Investor : '${customer?.customerNo}' is Rejected", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				}else{
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});
		});
		
		$('#close').css('display','none');
		$("#approval-actions").css("display","block");
		
		$('#closeWorkflow').click(function() {
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			}
		});
	});

</script>

<div id="detail">
	<form id="form" class="form">
		#{include 'Investors/detail.html' /}
	</form>
</div>	

<div id="approval-actions">
	<input type="button" id="approve" value="Approve" class="btn" />
	<input type="button" id="reject" value="Reject" class="btn" />	
	<input type="button" id="closeWorkflow" value="Cancel" class="btn" />

	#{hidden id:'taskId', name:'taskId', value:taskId /}
	#{hidden id:'maintenanceLogKey', name:'maintenanceLogKey', value:maintenanceLogKey /}
	#{hidden id:'operation', name:'operation', value:operation/}
	#{hidden id:'from', name:'from', value:from /}
</div>