#{extends 'templates/list2.html' /}
#{set pageTitle: 'Fund Transfer Approval' /}
#{script 'lookuppaging.js' /}
#{script 'lookups.js' /}

<script type="text/javascript">
	#{include 'RegistrySubscription/Util.js' /}
	$(function() {
		// DECLARE CLASS BTN
		$(".btn").button();
		$(".btn").css("width", "100px");
		//===============
		$('#approve').button();
		$('#reject').button();
		
		
		var backToWorkList = function() {
			loading.dialog('open');
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			};
		}
		
		var closeDialog = function(){
			$("#dialog-message").dialog("close");
		};
		
		$('#approve').click(function() {
			var action = "@{approve()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk("Fund Transfer with no ${fundTransfer.batchKey} is Approved", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				} else {
					messageAlertOk(data.message, "ui-icon1 ui-icon-circle-close", "Error Message", closeDialog);
				}
			});			
		});
		
		$('#reject').click(function() {
			var action = "@{reject()}?taskId=${taskId}&maintenanceLogKey=${maintenanceLogKey}&operation=${operation}";
			loading.dialog('open');
			$.post(action, function(data, status, xhr) {
				loading.dialog('close');
				if (status == 'success') {
					messageAlertOk("Fund Transfer with no ${fundTransfer.batchKey} is Rejected", "ui-icon ui-icon-circle-check", "Approval Message", backToWorkList);
				} else {
					messageAlertOk(data.message, "ui-icon1 ui-icon-circle-close", "Error Message", backToWorkList);
				}
			});
		});
		
		$('#currency').lookup({
			list:'@{Pick.currencies()}',
			get:{
				url:'@{Pick.currency()}',
				success: function(data) {
					if (data) {
						$('#currency').removeClass('fieldError');
						$('#currency').val(data.code);
						$('#currencyDesc').val(data.description);
						$('#h_currencyDesc').val(data.description);
					}
				},
				error : function(data) {
					$('#currency').addClass('fieldError');
					$('#currencyDesc').val('NOT FOUND');
					$('#currency').val('');
					$('#h_currencyDesc').val('');
				}
			},
			key:$('#currency'),
			description:$('#currencyDesc'),
			help:$('#currencyHelp')
		});
		
		$('#closeWorkflow').click(function() {
			if ($("#from").val() == 'listBatch') {
				location = "@{Approvals.listbatch()}";
			} else {
				location = "@{Approvals.list()}";
			}
		});
		
		$(".buttons").css("display","none");
		$("#approval-actions").css("display","block");
		
		if("${fundTransfer.endSettleDate}" == ""){
			$("#euroDateFrom").val("");
			$("#checkAsOfEuroDate").attr('checked',true);
			$("#checkEuroFromTo").attr('checked',false);

			$("#asOfDateEuro").val("${fundTransfer.startSettleDate.format(appProp.dateFormat)}");
			$("#euroDateFrom").val("");
			$("#euroDateTo").val("");
		}else{
			$("#euroDateFrom").val("${fundTransfer.startSettleDate.format(appProp.dateFormat)}");
			$("#euroDateTo").val("${fundTransfer.startSettleDate.format(appProp.dateFormat)}");
			$("#checkAsOfEuroDate").attr('checked',false);
			$("#checkEuroFromTo").attr('checked',true);
		}
		
		$("#fundCode").dynapopup('PICK_RG_PRODUCT', '', 'btnPopulate');
		if("${fundTransfer.productCode}" != ""){
			$('#fundCode').removeAttr('disabled');
			$('#fundCode').val("${fundTransfer.productCode}");
			$('#fundCode').blur();
			$('#fundCode').attr('disabled', 'disabled');
		}else{
			$('#fundCode').attr('disabled', 'disabled');
		}
		
		if("${fundTransfer.transactionType}" != ""){
			$('#transactionTypeRg').val("${fundTransfer.transactionType}");
			$('#transactionTypeRg').attr('disabled', 'disabled');
		}else{
			$('#transactionTypeRg').attr('disabled', 'disabled');
		}
		
		if("${fundTransfer.currency}" != ""){
			$('#currency').removeAttr('disabled');
			$('#currency').val("${fundTransfer.currency}");
			$('#currency').blur();
		}
		$('#currency').attr('disabled', 'disabled');
		
	});

</script>

<div id="detail">
	<form id="form" class="form">
		<p>
			#{textBox id:'fundBatchNoRg', label:'Fund Batch No', value:fundTransfer?.batchKey, width:'120px', readOnly:true, class:'capitalize', required:false /}
		</p>
		<p> 
			<label>Payment Date</label>
			<input id='checkAsOfEuroDate' type='radio' name='checkSettlementDate' checked="checked" disabled="disabled"/>
			<b>As Of&nbsp;</b>
			#{textBox id:'asOfDateEuro', label:'', width:'80px', readOnly:true, class:'calendar', required:false /}
		</p>
		<p>
			<label>&nbsp;</label>
			<input id='checkEuroFromTo' type='radio' name='checkSettlementDate'  disabled='disabled'/>
			<b>From&nbsp;</b>
			#{textBox id:'euroDateFrom', label:'', width:'80px', readOnly:true, class:'calendar', required:false /}
			<b>&nbsp;To&nbsp;</b>
			#{textBox id:'euroDateTo', label:'', width:'80px', readOnly:true, class:'calendar', required:false /}
		</p>
		<p>
			#{textBox id:'fundCode', label:'Fund Code', width:'120px', readOnly:readOnly, class:'capitalize', required:false /}
			#{hidden  id:'fundCodeKey' /}
			#{button  id:'fundCodeHelp', value:'?', class:'small', readOnly:true/}
			#{textBox id:'fundCodeDesc', readOnly:true, width:'245px' /}
		</p>
		<p>
			#{dropDownList id:'transactionTypeRg', label:'Transaction Type', options:listType, readOnly:readOnly,width:'120px', required:true /}
			<span id="transactionTypeRgError" class="error"></span>
		</p>
		
		<p>
			#{textBox id:'currency', name:'', label:'Currency', class:'capitalize', required:true, readOnly:readOnly, width:'120px', maxLength:'10' /}
			#{button id:'currencyHelp', value:'?', class:'small', readOnly:true /}
			#{textBox id:'currencyDesc', name:'', readOnly:true, width:'245px' /}	
			<span id="currencyError" class="error"></span>	
		</p>
		<p>&nbsp;</p>
		<table id="grid" class="display">
			<thead>
				<tr>
					<th>code</th>
					<td>No</td>
					<td>Date</td>
					<td>Account&nbsp;Name</td>
					<td>Fund</td>
					<td>Currency</td>
					<td>Transaction&nbsp;No</td>
					<td>Payment&nbsp;Amount</td>
					<td>RED/DIV/SWT</td>
					<td>Status</td>
					<td>Sender&nbsp;Branch&nbsp;Code</td>	
					<td>Sender&nbsp;Bank&nbsp;Code</td>
					<td>Sender&nbsp;A/C&nbsp;Name</td>				
					<td>Sender&nbsp;A/C&nbsp;No</td>
					<td>Sender&nbsp;Currency&nbsp;</td>					
					<td>Benef&nbsp;Bank</td>
					<td>Benef&nbsp;Bank&nbsp;Name</td>					
					<td>Benef&nbsp;A/C&nbsp;No</td>
					<td>Benef&nbsp;A/C&nbsp;Name</td>
					<td>Benef&nbsp;Currency&nbsp;</td>					
					<td>Charge&nbsp;Amount</td>
					<td>Net&nbsp;Payment&nbsp;Amount</td>
					<td>Payment&nbsp;Type&nbsp;Code</td>
				</tr>
			</thead>
			<tbody>
			#{list items:details, as:'detail'}
				<tr>
					<td class="capitalize">${detail.noSeq}</td>
					<td class="capitalize">${detail.noSeq}</td>
					<td class="capitalize">${detail.valueDate.format(appProp.dateFormat)}</td>
					<td class="capitalize">${detail.accountName}</td>
					<td class="capitalize">${detail.productCode}</td>
					<td class="capitalize">${detail.currency}</td>
					<td class="capitalize">${detail.transactionNo}</td>
					<td class="capitalize" align="right">${detail.amountStr}</td>
					<td class="capitalize">${detail.transType}</td>
					<td class="capitalize">${detail.status}</td>
					<td class="capitalize">${detail.senderBranchCode}</td>	
					<td class="capitalize">${detail.senderBankCode}</td>					
					<td class="capitalize">${detail.senderAcctNo}</td>
					<td class="capitalize">${detail.senderAcctName}</td>
					<td class="capitalize">${detail.senderCurrency}</td>
					<td class="capitalize">${detail.benefBankCode}</td>
					<td class="capitalize">${detail.benefBankName}</td>		
					<td class="capitalize">${detail.benefAccNo}</td>				
					<td class="capitalize">${detail.benefAccName}</td>
					<td class="capitalize">${detail.benefCurrency}</td>
					<td class="capitalize" align="right">${detail.chargeAmountStr}</td>
					<td class="capitalize" align="right">${detail.netAmountStr}</td>
					<td class="capitalize">${detail.paymentTypeCode}</td>					
				</tr>
			#{/list}
			</tbody>
		</table>
	</form>
</div>	

<input type="button" id="approve" value="Approve" class="btn" />
<input type="button" id="reject" value="Reject" style="margin:5px;" class="btn" />		
<input type="button" id="closeWorkflow" value="Cancel" class="btn" />
	
<span id="approval-actions">
	#{hidden id:'taskId', name:'taskId', value:taskId /}
	#{hidden id:'maintenanceLogKey', name:'maintenanceLogKey', value:maintenanceLogKey /}
	#{hidden id:'operation', name:'operation', value:operation /}
	#{hidden id:'from', name:'from', value:from /}
</span>