#{extends 'templates/list1.html' /}
#{set pageTitle: 'Compliance Rule Master' /}

<script type="text/javascript">
	function doEdit(data) {
		if ((data[4] == "New") || (data[4] == "Updated")) {
			view(data[0]);
			return false;
		} else {
			return true;
		}
	}
</script>

<table class="display">
	<thead>
		<tr>
			<th width="150px">Rule Id</th>
			<th width="150px" align="left">Rule Code</th>
			<th width="150px" align="left">Rule Type</th>
			<th width="300px" align="left">Description </th>
			<th width="100px" align="center">Status </th>
			<th width="50px" align="center">Active</th>
		</tr>
	</thead>
	<tbody>
		#{list items:cpComplianceRules, as:'cpComplianceRule'}
		<tr>
			<td>${cpComplianceRule?.ruleId} </td>
			<td align="left">${cpComplianceRule?.ruleCode} </td>
			<td align="left">${cpComplianceRule?.ruleType?.lookupCode} </td>
			<td align="left">${cpComplianceRule?.description}</td>
			<td align="center">${cpComplianceRule?.status?.decodeStatus()}</td>
			<td align="center">${cpComplianceRule?.active ? 'Yes':'No'}</td>	
		</tr>
		#{/list}
	</tbody>
</table>