#{extends 'templates/main.html' /}
#{set pageTitle: 'Cancel Invoice' /}
#{script 'lookups.js', characterset:'utf-8' /}

<div id="root">
    <h3><a href="#">Search Announcement</a></h3>
    <form id="searchForm" class="form">
        <input id="param" name="params.param" type="hidden" value="${param}"/>
        <input id="invoiceStatus" name="params.invoiceStatus" type="hidden" value="A"/>
        
        <p>
            #{textBox id:'distributionDateFrom', name:'params.dateFrom', label:'Distribution Date', width:'85px', value:params?.dateFrom ,class:'calendar', required:'true' /}
            (${appProp.displayDateFormat})
            <span id="distributionDateFromError" class="error"></span> <b>To</b>
            #{textBox id:'distributionDateTo', name:'params.dateTo', value:params?.dateTo, class:'calendar'  /} (${appProp.displayDateFormat})
            <span id="distributionDateToError" class="error"></span>
        </p>

         <p>
			#{textBox id:'actionCode',width:'100px', name:'', label:'Action Code', value:'', class:'capitalize' /}
			#{hidden id:'actionCodeKey', name:'params.actionCode', value:params.actionCode /}
			#{button id:'actionCodeHelp', value:'?', class:'small', readOnly:readOnly /}
			#{textBox id:'actionCodeDesc', name:'', value:customer?.customerName, readOnly:true, width:'200px' /}
			<span id="actionCodeError" class="error"></span>
		</p>
		<p>
			#{textBox id:'securityType',width:'100px', name:'', label:'Security Type', value:'', class:'capitalize' /}
			#{hidden id:'securityTypeKey', name:'params.securityType', value:params?.securityType /}
			#{button id:'securityTypeHelp', value:'?', class:'small', readOnly:readOnly /}
			#{textBox id:'securityTypeDesc', name:'transaction.transactionTemplate.securityType.description', value:transaction?.transactionTemplate?.securityType?.description, readOnly:true, width:'200px' /}
			<span id="securityTypeError" class="error"></span>
		</p>
		<p>
			#{textBox id:'securityCode',width:'100px', name:'', label:'Security Code', value:'', class:'capitalize' /}
			#{hidden id:'securityCodeKey', name:'params.securityCode', value:params?.securityCode /}
			#{button id:'securityCodeHelp', value:'?', class:'small', readOnly:readOnly /}
			#{textBox id:'securityCodeDesc', name:'transaction.security.description', value:transaction?.security?.description, readOnly:true, width:'200px' /}
			<span id="securityCodeError" class="error"></span>
		</p>
		<p>
			#{dropDownList id:'announcementNoOperator', name:'params.announcementNoOperator', label:'Announcement No', options:operators, value:params.announcementNoOperator /}
			#{textBox id:'announcementSearchNo', name:'params.announcementNo', value:params.announcementNo, class:'numberOnly', width:'100px' /}
		</p>

        <p>
            <div class="buttons">
                <input type="button" id="search" value="Search" />              
                <input type="button" id="reset" value="Reset" />
            </div>
        </p>
    </form>
</div>

<div id="result" style="display:none">
    <table id="tableInvoice" class="display">
        <thead>
            <tr>
                <th width="80px" field="corporateAnnouncementCode|string|none|left|sort">Announcement #</th>
                <th width="50px" field="description|string|none|left|sort">Subject</th>
                <th width="50px" field="announcementDate|date|date|center|sort">Announcement Date</th>
                <th width="150px" field="recordingDate|date|date|center|sort">Recording Date</th>
                <th width="50px" field="distributionDate|date|date|center|sort">Distribution Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    #{include 'RegistrySubscription/Util.js' /}
    #{include 'CorporateSettlements/casettlementList.js' /}
    $(document).ready(function() {
    	Paging($("#root").add("#result"));
    });
</script>