<!-- MAIN SCREEN -->
<form id="registryPaymentForm" class="form" method="POST" name="product">
    #{hidden id:'customerKeyDialog' /}

    <table>
        <tr>
            <td valign="top">
                <p>
                    #{textBox id:'tradeKeyDialog', name:'param.tradeKey', label:'Transaction No', class:'capitalize',  width:'120px', readOnly:true /}
                </p>

                <p></p>

                <fieldset>
                    <p>
                       #{textBox id:'fundCodeDialog', name:'param.rgProduct.productCode', label:'Fund Code', width:'120px', readOnly:true, class:'capitalize' /}
                       #{button id:'fundCodeHelpDialog', value:'?', class:'small', readOnly:true /}
                       #{textBox id:'fundCodeDescDialog',  name:'params.rgProduct.name', readOnly:true, width:'250px' /}
                   </p>
                
                    <p>
                        #{textBox id:'currencyDialog', name:'param.rgProduct.currencyCode', label:'Currency', width:'120px', readOnly:true, class:'capitalize' /}
                        #{button id:'currencyHelpDialog', value:'?', class:'small', readOnly:true /}
                        #{textBox id:'currencyDescDialog', name:'param.rgProduct.currency.description', readOnly:true, width:'250px' /}
                    </p>
                
                    <p>         
                        #{textBox id:'accountDialog', name:'param.rgInvestmentaccount.accountNumber', label:'Account No', width:'120px', readOnly:true, class:'capitalize' /}
                        #{button  id:'accountHelpDialog', value:'?', class:'small', readOnly:true /}
                        #{textBox id:'accountDescDialog', name:'param.rgInvestmentaccount.name', readOnly:true, width:'250px' /}
                    </p>
                    
                    <p>
                        #{textBox id:'transactionDateDialog', name:'param.transactionDate', label:'Transaction Date', class:'calendar', readOnly:true /}
                    </p>
                    
                    <p>
                        #{textBox id:'paymentDateDialog', name:'param.paymentDate', label:'Payment Date', class:'calendar', readOnly:true /}
                    </p>
                    
                    <p>         
                        #{textBox id:'sellingAgentDialog', name:'param.rgInvestmentaccount.accountNumber', label:'Selling Agent', width:'120px', readOnly:true, class:'capitalize' /}
                        #{button  id:'sellingAgentHelpDialog', value:'?', class:'small', readOnly:true /}
                        #{textBox id:'sellingAgentDescDialog', name:'param.rgInvestmentaccount.name', readOnly:true, width:'250px' /}
                    </p>
                    
                    <p>
	                    #{textBox id:'externalReferenceDialog', name:'param.externalReference', label:'Extenal Reference', readOnly:true /}
	                </p>
                </fieldset>
            </td>
            
            <td valign="top">
                <fieldset>
                    <legend><b>Detail Transaction</b></legend>
    
                    <p>
                       #{textBox id:'unitDialog', name:'param.rgTransaction.unit', label:'Unit', format:'#,##0.####', readOnly:true, class:'numeric' /}
                   </p>
    
                    <p>
                       #{textBox id:'priceDialog', name:'param.rgTransaction.price', label:'Price', format:'#,##0.####', readOnly:true, class:'numeric' /}
                   </p>
                
                    <p>
                       #{textBox id:'amountDialog', name:'param.rgTransaction.amount', label:'Amount', format:'#,##0.####', readOnly:true, class:'numeric' /}
                   </p>
                   
                   <p>
                       #{textBox id:'totalFeeAmountDialog', name:'param.rgTransaction.amount', label:'Total Fee Amount', format:'#,##0.####', readOnly:true, class:'numeric' /}
                   </p>
                   
                   <p>
                       #{textBox id:'paymentDialog', name:'param.rgTransaction.amount', label:'Payment Amount', format:'#,##0.####', readOnly:true, class:'numeric' /}
                   </p>
                </fieldset>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td valign="top">
                <fieldset>
                    <legend id="investorBankAccount"><b></b></legend>
                    <span id="bankAccountErrorGlobal" class="error"></span>

                    #{hidden id:'bankAccountBankAccountKey', name:'param.bankAccount.bankAccountKey' /}
                    #{hidden id:'bankAccountThirdPartyKey', name:'param.bankAccount.thirdPartyKey' /}

                    <p>
                        #{textBox id:'bankAccount', width:'100px', name:'param.bankAccount.accountNo', label:'Account No', required:true, class:'capitalize', readOnly:param.readOnly /}
                        #{button id:'bankAccountHelp', value:'?', class:'small', readOnly:param.readOnly /}
                        <span id="bankAccountError" class="error"></span>
                    </p>
                
                    <p>
                        #{textBox id:'bankAccountThirdPartyCode', name:'param.bankAccount.thirdPartyCode', label:'Bank Code', readOnly:true, width:'60px' /}
                        #{textBox id:'bankAccountThirdPartyName', name:'param.bankAccount.thirdPartyName', readOnly:true, width:'170px' /}
                    </p>
                
                    <p>
                        #{textBox id:'bankAccountBeneficiaryName', name:'param.bankAccount.customer.customerName', label:'Beneficiary Name', class:'capitalize', readOnly:true, width:'230px' /}
                    </p>
                
                    <p>
                        #{textBox id:'bankAccountCurrencyCode', name:'param.bankAccount.currency.currencyCode', label:'Currency', class:'capitalize', readOnly:true, width:'100px' /}
                    </p>
                </fieldset>
            </td>

            <td valign="top">
                <fieldset>
                    <legend id="productBankAccount"><b></b></legend>
                    <span id="rgProductBnAccountErrorGlobal" class="error"></span>

                    #{hidden id:'rgProductBnAccountBankAccountKey', name:'param.rgProductBnAccount.bankAccountKey' /}
                    #{hidden id:'rgProductBnAccountThirdPartyKey', name:'param.rgProductBnAccount.thirdPartyKey' /}

                    <p>
                        #{textBox id:'rgProductBnAccount', width:'100px', name:'param.rgProductBnAccount.accountNo', label:'Account No', required:true, class:'capitalize', readOnly:param.readOnly /}
                        #{button id:'rgProductBnAccountHelp', value:'?', class:'small', readOnly:param.readOnly /}
                        <span id="rgProductBnAccountError" class="error"></span>
                    </p>
                
                    <p>
                        #{textBox id:'rgProductBnAccountThirdPartyCode', name:'param.rgProductBnAccount.thirdPartyCode', label:'Bank Code', readOnly:true, width:'60px' /}
                        #{textBox id:'rgProductBnAccountThirdPartyName', name:'param.rgProductBnAccount.thirdPartyName', readOnly:true, width:'170px' /}
                    </p>
                
                    <p>
                        #{textBox id:'rgProductBnAccountBeneficiaryName', name:'param.rgProductBnAccount.customer.customerName', label:'Beneficiary Name', class:'capitalize', readOnly:true, width:'230px' /}
                    </p>
                
                    <p>
                        #{textBox id:'rgProductBnAccountCurrencyCode', name:'param.rgProductBnAccount.currency.currencyCode', label:'Currency', class:'capitalize', readOnly:true, width:'100px' /}
                    </p>
                </fieldset>
            </td>
        </tr>
    </table>

    <div class="buttons">
        <input id='saveDialog' type="button"  value="Save"></input>
        <input id='cancelDialog' type="button" value="Cancel"></input>
    </div>
</form>