#{extends 'templates/main.html' /}
#{set readOnly:((mode !='edit' && mode !='entry') || confirming ) /}
<script type="text/javascript">
	$(function() {
		$('.buttons input:button').button();
		
		var backToEntry = function() {
			loading.dialog('open');
			location = "@{entry()}";
		}
		
		var closeDialogMessage = function() {
			$("dialog-message").dialog('close');
		}

		// Action buttons
		$('#save').click(function(){
			$(".cancel").remove();
			var checkError = $('#settlementAccount').hasClass('fieldError');
			if (checkError) {
				$('#settlementAccount').val('');
			}
			
			if($("#miscellaneousChargeForm #chargeAmount").hasClass('fieldError')){
				return false;
			}
			var action = "@{save()}?mode=${mode}";
			/* var loading = $('<div id="loading" class="loading"><img src="@@{'/public/images/loading2.gif'}" style="margin:10px" align="middle" /> Saving...</div>').appendTo('body');
			loading.dialog({
				closeOnEscape: false,
				draggable: false,
				modal: true,
				resizable: false,
				open:function() {
					$(this).parents(".ui-dialog:first").find(".ui-dialog-titlebar-close").remove();
				} 
			}); */
			loading.dialog('open');
			$('#miscellaneousChargeForm').attr('action', action);
			$('#miscellaneousChargeForm').submit();
		});
		
		$('#cancel').click(function(){
			location.href="@{list()}";
		})

		$('#confirm').click(function() {
			$(".cancel").remove();
			var action = "@{confirm()}?mode=${mode}";
			/* var loading = $('<div id="loading" class="loading"><img src="@@{'/public/images/loading2.gif'}" style="margin:10px" align="middle" /> Saving...</div>').appendTo('body');
			loading.dialog({
				closeOnEscape: false,
				draggable: false,
				modal: true,
				resizable: false,
				open:function() {
					$(this).parents(".ui-dialog:first").find(".ui-dialog-titlebar-close").remove();
				} 
			}); */
			loading.dialog('open');
			$.post(action, $('#miscellaneousChargeForm').serialize(), function(data, status) {
	    		checkRedirect(data);
				loading.dialog('close');
				if (data.status == 'success') {
					messageAlertOk(data.message, "ui-icon ui-icon-circle-check", "Notification", backToEntry);
					//alert("Your transaction no is " + data.transactionNo);
					//location = "@{entry()}";
				} else {
					//alert("Failed saving data!");
					messageAlertOk(data.error, "ui-icon1 ui-icon-circle-close", "Error Message", closeDialogMessage);
				}
			});
		});
	
		$('#back').click(function() {
			//location.href = '@{back()}?mode=${mode}';	
					
			location.href='@{back()}?id=${transaction?.transactionKey}&mode=${mode}#{if status}&status=${status}#{/}#{if group}&group=${group}#{/}#{if param}&param=${param}#{/}#{if from}&from=${from}#{/}#{if isPartial}&isPartial=${isPartial}#{/}';
				
		});

		$('#clear').click(function() {
			//var action = "@{clear()}?mode=${mode}#{if id}&id=${id}#{/if}";
			//$.post(action, $('#miscellaneousChargeForm').serialize(), function(data, status, xhr) {
			//	if (status == 'success') {
			//		$('#detail').html(data);
				//	$("#actions #confirming").css('display', 'none');
				//	$('#actions #editing').css('display', '');
	//			}
	//		});	
			location.href = '@{list()}';		
		});
	});
</script>
<h2>Miscellaneous Charge Entry</h2>
<div id="detail">
	#{include 'MiscellaneousChargeEntries/detail.html' /}	
</div>
<div id="actions" class="buttons">
	#{if confirming}
		<input type="button" id="confirm" value="Confirm" />
		<input type="button" id="back" value="Back" />
	#{/if}
	#{else}
		<input type="button" id="save" value="Save" />
		<input type="button" id="cancel" value="Cancel" />
	#{/else}
</div>
	