#{extends 'templates/list1.html' /}
#{set pageTitle: 'Inject Total Unit Fund Information' /}
#{script 'lookups.js', characterset:'utf-8' /}

<script type="text/javascript">
	$(function(){
		
		$('#transactionDate').datepicker();
		
		$('#searchFundCode').lookup({
			list:'@{Pick.faFundSetups()}',
			get:{
				url:'@{Pick.faFundSetup()}',
				success: function(data){
					$('#searchFundCode').removeClass('fieldError');
					$('#searchFundKey').val(data.code);
					$('#searchFundCodeDesc').val(data.description);
					$('#h_searchFundCodeDesc').val(data.description);
				},
				error: function(data){
					$('#searchFundCode').addClass('fieldError');
					$('#searchFundCode').val('');
					$('#searchFundKey').val('');
					$('#searchFundCodeDesc').val('NOT FOUND');
					$('#h_searchFundCodeDesc').val('');
				}
			},
			key:$('#searchFundCodeKey'),
			description:$('#searchFundCodeDesc'),
			help:$('#searchFundCodeHelp')
		});
		
		$('#accordion').accordion({
			collapsible: true
		});
		
		$('.buttons button:first').button({
			icons: {
				primary: 'ui-icon-search'
			}
		}).next().button();	
		
		$('#transactionDate').change(function(){
			var checkError = $("input").hasClass('fieldError');
			if (checkError){
				$('#search').button('disable');
			}  else {
				$('#search').button('enable');
			}
		});
		
		$('#search').click(function() {
			search();
			return false;
		});
		// end of Search
		
		$('#reset').click(function() {
			location.href="@{list()}";	
			return false;
		});
		
		$('.buttons input:button').button();
		
	});
	
	var search = function() {

		$('#result .loading').show();
		$('#result .response').hide();
		
		if ($('#transactionDate').val()=='') {
			$("#transactionDateError").html("Required");
			$('#result .loading').hide();
			return false;
		}  
		
		$('#result').show();	
		
		
		$.get('@{search()}', $('#searchForm').serialize(), function(data) {
			checkRedirect(data);
			$("#transactionDateError").html("");
			$('#result .response').html(data);
			$('#result .loading').hide();
			$('#result .response').show();
			setupTable();
		});	
		
	};
	
	function doEdit(data) {
		if ((data[4] == "New") || (data[4] == "Updated")) {
			location.href='@{view()}/?id=' + data[0] + '&transactionDate='+data[2];
			return false;
		} else {
			location.href='@{edit()}/?id=' + data[0] + '&transactionDate='+data[2];
			return false;
		}
	}

</script>

<style type="text/css">
  .error { color:red; }
</style>

<div id="accordion">
	<h3><a href="#">Search Total Unit Fund</a></h3>
		<form id="searchForm" class="form">
			<input id="param" name="params.param" type="hidden" value="${param}"/> 
			<p>
				#{textBox id:'transactionDate', name:'params.faUnitTransactionSearchTransactionDate', label:'Date', value:params?.faUnitTransactionSearchTransactionDate?.format(appProp.dateFormat), width:'85px', class:'calendar', required:true /} (${appProp.displayDateFormat})
				<span id="transactionDateError" class="error"></span>
			</p>
			<p>			
				#{textBox id:'searchFundCode', name:'params.faUnitTransactionSearchFundCode', label:'Fund Code', value:params?.faUnitTransactionSearchFundCode, width:'120px', readOnly:readOnly, class:'capitalize' /}
				#{hidden  id:'searchFundCodeKey', value:faUnitTransaction?.faMaster?.fundKey /}
				#{button  id:'searchFundCodeHelp', value:'?', class:'small', readOnly:readOnly/}
				#{textBox id:'searchFundCodeDesc', name:'faUnitTransaction.faMaster.fundDescription', value:faUnitTransaction?.faMaster?.fundDescription, readOnly:true, width:'340px' /}
				<span id="errmsgSearchFundCode" class="error"></span>
			</p>
			<p>
				<div class="buttons">
					<button id="search">Show</button>
					<button id="reset">Reset</button>
				</div>
			</p>
		</form>
</div>

<div id="result" style="display:none">
	<div class="loading"><img src="@@{'/public/images/loading2.gif'}" style="margin: 10px" /></div>
	<div class="response"></div>
</div>


	


