#{extends 'templates/main.html' /}
#{set readOnly:((mode !='edit' && mode !='entry') || confirming) /}

<h2>Compliance Affiliation Maintenance</h2>
#{if flash.error || errors}
    <div class="error">
    	Error when saving data!<br/>
		<li>${flash.error}</li>
		#{ifErrors}
			#{errors}
				 <li>${error.key} ${error}</li>
			#{/errors}
		#{/ifErrors}
    </div>
#{/if}

<div id="detail">
	#{include 'ComplianceAffiliation/detail.html' /}	
</div>

<div id="actions" class="buttons">
	#{if confirming}
		<input type="button" id="confirm" value="Confirm" />
		<input type="button" id="back" value="Back" />
	#{/if}
	#{else}
		#{if mode=='view' }
			<input type="button" id="close" value="Close" />
		#{/if}
		#{else}
			<input type="button" id="save" value="Save" />
			<input type="button" id="cancel" value="Cancel" />
		#{/else}
	#{/else}
</div>
	