<div >
	<table>
		<tr>
			<td>
			</td>
			<td>
				<div style="overflow-x:scroll;width:750px">
					<table id='tblAmlWatchListData'>
						<thead>
							<tr>
								<th><input id='checkAll' type="checkbox"/></th>
								<th width="100px">Match&nbsp;Source</th>
								<th width="100px">Name</td>
								<th width="100px">Data&nbsp;ID</th>
								<th width="200px">Detail&nbsp;Data</th>
								<th width="100px">Source</th>
								<th width="100px">Data&nbsp;Type</th>	
							</tr>
						</thead>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
